$theme-font-path           : "../../../fonts/";
$fa-font-path              : "../../../fonts/";
$image-theme-path          : "../../../images/";
$image-theme-skin			: "../../../images/";
$theme-color               : #cbdd00;
$link-hover-color			:#cbdd00;
$brand-primary              :#cbdd00;

$btn-default-bg:                 $theme-color;
$btn-default-border:             $theme-color;