/*!
 * Start Bootstrap - Grayscale v3.3.7+1 (http://startbootstrap.com/template-overviews/grayscale)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcf8f2+5,fcf4e8+65,fcf6ed+100 */
@font-face {
    font-family: 'chapagne-limousines'; /*a name to be used later*/
    src: url('champagne-limousine.ttf'); /*URL to font*/
}

*{
  font-family: 'chapagne-limousines';
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.18) 0 0 1px;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
html {
  width: 100%;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: 'chapagne-limousines';
  font-weight: 700;
  letter-spacing: 1px;
  color: #E7A287 !important;
}


p {
  margin: 0 0 25px;
  font-size: 16pt;
  line-height: 1.5;
  font-family: 'chapagne-limousines';
}

a {
  color: #42DCA3;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #1d9b6c;
}
.light {
  font-weight: 400;
}
.content-section-a {
	background-color: #FDF2DF;
	position: relative;
    padding-top: 45px;
    padding-bottom: 10px;

}

.content-section-b {
	background-color: white;
    padding-top: 45px;
    padding-bottom: 10px;

}
.navbar-header{
  margin-left:5px;
  width:100%;
  padding-right: 25px;
}
.btn-custom {
    color: #333;
    background-color: #E7A287;
    color: white;
}
.btn-custom span{
	color: white;
}

.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #E7A287;
  color: #FDF2DF;

}
.navbar-custom .navbar-toggle {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 12px;
}
.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
  outline: none;
}
.navbar-custom .navbar-brand {
  font-weight: 700;
}
.navbar-custom .navbar-brand:focus {
  outline: none;
}
.navbar-custom a {
  color: #FDF2DF;
}
.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.navbar-custom .nav li a:hover {
  color: rgba(255, 255, 255, 0.8);
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li.active {
  outline: none;
}
.navbar-custom .nav li.active a {
  background-color: rgba(255, 255, 255, 0.3);
}
.navbar-custom .nav li.active a:hover {
  color: white;
}

#credit-card-box {
  width: 400px;
  margin: auto;
}

#email{
  width: 300px;
  padding-left: 10px;
}

#beneficios > li {
    list-style-type: circle;
    color: red; /* or whatever color you prefer */
}

#amostra{
	height: 550px;
	top: 50px;
}

li.fa.fa-circle-o ::before {
    color: red;
}

@media (min-width: 768px) {
  .navbar-custom {
    padding: 10px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: #FCF5E9;
    color: #E7A287 !important;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .navbar-custom.top-nav-collapse {
    padding: 0;
    background: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  .navbar-custom a {
    color: #E7A287;
  }


  #email{
    width: 500px;
  }
}

h2 {
  color: #E7A287;
}
 li {
  font-size: 16pt !important;
}
.apresentacao > p,h2 {
  text-align: start;
}

.background-label-imagem-apresentacao{
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: rgba(231, 162, 135, 0.45);
}

.label-imagem-apresentacao{
    color: white;
    font-size: 28pt;
}

.skinn-box{
    border-width: 2px;
    border-style: solid;
    border-color: #E7A287;
    color: #E7A287;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.modo-de-usar {
	text-align:center;
}

.modo-de-usar > p{
    font-size: medium;
    text-align: center;
}


.modo-de-usar > img{
    text-align: center;
    position: relative;
    height: 50px;
}

.carousel-inner>.item>img {
    width: 100%!important;
}

.carousel-control.left, .carousel-control.right {
    background-image: none!important;
}

.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: #E7A287;

  background: #fcf8f2; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #fcf8f2 5%, #fcf4e8 65%, #fcf6ed 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover,  #fcf8f2 5%,#fcf4e8 65%,#fcf6ed 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center,  #fcf8f2 5%,#fcf4e8 65%,#fcf6ed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcf8f2', endColorstr='#fcf6ed',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
}
.intro .intro-body .brand-heading {
  font-size: 40px;
}
.intro .intro-body .intro-text {
  font-size: 18px;
}
@media (min-width: 768px) {
  .intro {
    height: 100%;
    padding: 0;
  }
  .intro .intro-body .brand-heading {
    font-size: 100px;
  }
  .intro .intro-body .intro-text {
    font-size: 26px;
  }
}
.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid white;
  border-radius: 100% !important;
  font-size: 40px;
  color: white;
  background: transparent;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.btn-circle:hover,
.btn-circle:focus {
  outline: none;
  color: white;
  background: rgba(255, 255, 255, 0.1);
}
.btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}
.btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
.content-section {
  padding-top: 71px;
}
.download-section {
  width: 100%;
  padding: 50px 0;
  color: white;
  background: url(../img/downloads-bg.jpg) no-repeat center center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
#map {
  width: 100%;
  height: 200px;
  margin-top: 100px;
}
@media (min-width: 767px) {
  .content-section {

  }
  .download-section {
    padding: 100px 0;
  }
  #map {
    height: 400px;
    margin-top: 250px;
  }
}
/*.btn {
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 0;
}*/
.btn-default {
  border: 1px solid #42DCA3;
  color: #42DCA3;
  background-color: transparent;
}
.btn-default:hover,
.btn-default:focus {
  border: 1px solid #42DCA3;
  outline: none;
  color: black;
  background-color: #42DCA3;
}
ul.banner-social-buttons {
  margin-top: 0;
}
@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}
footer {
  padding: 50px 0;
}
footer p {
  margin: 0;
}
::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}
::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}


.carousel-inner > .item > img,
.carousel-inner > .carousel-item  > img {
    width: 70%;
    margin: auto;
}
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #FCF5E9;
}
.center-div
{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 3px;
}

#shopping-cart{
    display: none;
    position: fixed;
    background-color: rgba(255, 228, 196, 0.4);
    top: 0px;
    z-index: 9999;
    width: 100%;
    height: 100%;
}
#close-shopping-cart{
    cursor:pointer;
}
#btn-comprar{
    cursor : pointer;
}
#container {
    position: relative;
    height: 420px;
}
.slide {
    width: 100%;
    border: none;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: opacity 2s linear;
    -moz-transition: opacity 2s linear;
    -o-transition: opacity 2s linear;
    transition: opacity 2s linear;
}

.slide img{
  max-width:100%;
  max-height:100%;
}
.showMe {opacity: 1;}
.centralizado {
    margin: auto;
    padding: 10px;
    text-align: center;
}
#wrapper{
    width:100%;
    height:100%;
}
#pedido{
    background-color: #FDF2DF;
    height: 100%;
    width: 100%;
    padding: 20px;
}

#escolher-forma-pagamento{
    display:none;
}

#info-cartao{
    display:none;
}

#btn-cartao-credito{
    width : 300px;
    height: 50px;
}

#btn-cartao-credito span{
    font-size:14pt;
}

#btn-boleto{
    width:300px;
    height: 50px;
}

#btn-boleto span{
    font-size:14pt;
}

#snackbar {
    display: none;
    width: 50%;
    margin: 0 auto;
    min-width: 250px;
    background-color: #E7A287;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    z-index: 1;
    bottom: 30px;
    font-size: 17px;
}
#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}


#snackbar {
display: none;
width: 50%;
margin: 0 auto;
min-width: 250px;
background-color: #E7A287;
color: #fff;
text-align: center;
border-radius: 2px;
padding: 16px;
z-index: 1;
bottom: 30px;
font-size: 17px;
}
#snackbar.show {
visibility: visible;
-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@-webkit-keyframes fadein {
from {bottom: 0; opacity: 0;}
to {bottom: 30px; opacity: 1;}
}
@keyframes fadein {
from {bottom: 0; opacity: 0;}
to {bottom: 30px; opacity: 1;}
}
@-webkit-keyframes fadeout {
from {bottom: 30px; opacity: 1;}
to {bottom: 0; opacity: 0;}
}
@keyframes fadeout {
from {bottom: 30px; opacity: 1;}
to {bottom: 0; opacity: 0;}
}
