$theme-font-path           : "../../../fonts/";
$fa-font-path              : "../../../fonts/";
$image-theme-path          : "../../../images/";
$image-theme-skin			: "../../../images/";
$theme-color               : #04adf0;
$link-hover-color			:#04adf0;
$brand-primary              :#04adf0;

$btn-default-bg:                 $theme-color;
$btn-default-border:             $theme-color;