/*
*  Main Menu
*/
.navbar-mega{
    min-height: inherit;
    margin: 0px;
    border: 0px solid $navbar-mega-border;
    @include border-radius(0);
    .navbar-toggle{
        .icon-bar{
            background-color:$theme-color;
        }
        border-color:$border-color;
    }
    .navbar-nav{
        float: none;
        > .open{
            > a{
                border-color: $nocolor;
                border-left-color: rgba(0, 0, 0, 0.1);
                color: $navbar-link-hover-color;
                background: $navbar-link-hover-bg;
                &:before{
                    @include opacity(1);
                }
            }
        }
        ul{
            @include clear-list();
            li{
                &.parent{
                    position: relative;
                }
                &.dropdown-submenu{
                    position: relative;
                    .dropdown-menu{
                        top: 0;
                        left: 100%;
                        right: auto;
                        position: absolute;                     
                    }
                }
            }
        }
        li{

            &.active{
                background: none;
                > a{
                    background: none;
                    &:before {
                        height: 3px;
                    }
                }
            }
            a{
                &:hover, &:active, &:focus{
                    background: none;
                    color: $theme-color;
                }
            }    
            &.open > a{
                background: none;
                color: $theme-color;
            }
        }
        > li{   
            display: inline-block;
            float: none;
            margin: 0 15px;
            > a{
                font-family: $font-family-base;
                position: relative;
                color: $navbar-link-color;
                padding: 13px 0 12px;
                margin: 0;
                text-transform: $navbar-text-transform;
                font-weight: $navbar-font-weight;
                @include border-radius(0);
                @include font-size(font-size, $navbar-font-size);
                @include transition(all 0.35s);
               
                .caret{
                    color: #222222;
                    border-width: 3px;
                    @include transition(all 0.35s);
                }
                 &:before {
                    background: $theme-color none repeat scroll 0 0;
                    content: "";
                    height: 0;
                    left: 0;
                    position: absolute;
                    bottom: 0;
                    transition: all 200ms ease-in-out 0s;
                    width: 100%;
                    z-index: 1;
                }

                &:hover, &:focus{
                    color: #fff;
                    background: $navbar-link-hover-bg;
                    &:before{
                        @include opacity(1);
                        height: 3px;
                    }
                    .caret{
                        color: #fff;
                    }
                }
            }
            
            &:first-child a{
                border: none;
            }
        
            .dropdown-menu{
                padding:0;
                background: $navbar-dropdown-bg;
                min-width: $navbar-dropdown-size;
                @include border-radius(0);
                position: absolute;
                opacity: 0;
                display: block;
                @include rtl-right(0);
                top: 101%;
                @include transition( all 0.3s ease-out 0s) ;
                transform:translate(0px, 20px);
                @include transition(all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s);
                visibility: hidden;
                z-index: 999;
                border: none;
                ul.dropdown-menu{
                    left: 100%;
                    top: 0;
                    position: absolute;
                    opacity: 0;
                    visibility: hidden;
                    @include transition( all 0.3s ease-out 0s) ;
                    transform:translate(0px, 20px);
                }
                .row{
                    padding-top: 0;
                }
                li{
                    display: block;
                    padding: 10px 0 0;
                    position: relative;
                    a{
                        min-height: inherit;
                        display: block;
                        font-weight: $navbar-dropdown-link-font-weight;
                        padding: $navbar-dropdown-padding;
                        color: $navbar-dropdown-link-color;
                        text-transform: $navbar-dropdown-link-transform;
                        @include transition(all .2s linear);
                        @include font-size(font-size,$navbar-dropdown-link-font-size);
                        &:hover{
                            color: $navbar-dropdown-link-hover-color;
                            background: $navbar-dropdown-link-hover-bg;
                        }
                    }
                    &:last-child{
                        padding-bottom:20px;
                    }
                    &:hover{
                        > ul.dropdown-menu{
                            opacity: 1;
                            visibility: visible;
                            transform:translate(0px, 0px);
                        }   
                    }
                }
                .widgettitle{
                    padding:20px;
                    @include font-size(font-size, $navbar-widget-title-font-size);
                    border-color:$border-color;
                    margin-bottom: 0;
                }    
            }
            .mega-dropdown-menu{
                padding: $theme-padding + 10;
                ul{
                    li{
                        a{
                            @include rtl-padding-left(0);
                            @include rtl-padding-right(0);
                            &:hover{
                                @include rtl-padding-left(10px);
                                @include rtl-padding-right(10px);
                            }
                        }
                    }
                }
            }
        }
        > .active{
            background: $navbar-link-active-bg;
           >  a{
                color: $navbar-link-active-color;
                &:before{
                    @include opacity(1);
                }
            }
        }
        > .aligned-fullwidth{
            position: static !important;             
            > .dropdown-menu{
                width: 100% !important;
            }
        } 
        > .aligned-right{
            position: static !important; 
            > .dropdown-menu{
                @include rtl-right(0);
                @include rtl-left(auto);
            }
        }
        > .aligned-left {
            position: static !important; 
            > .dropdown-menu  {
                @include rtl-left(0);
                @include rtl-right(auto);
            }
        }
        .wpb-container-mega{
            margin: 0;
        }
        .container-mega{
            .row {
                padding-bottom: 0;
                margin: 0 !important;
                width: 100%;
                position: relative;
                overflow: hidden;
                > div{
                    position: relative;
                    padding:0;
                    &:after{
                        content: "";
                        @include size(1px, 1000px);
                        background: $border-color;
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                    &:first-child:after{
                        content: none;
                    }
                }
            }
        }
    }   
    .text-label{
        position: absolute;
        top: -25px;
        right: 45%;
        padding:0px 3px; 
        font-size: 9px;
        color: #FFFFFF;
        &.text-hot{
            background:$brand-danger;
            &:after {  border-top-color: $brand-danger ; } 
        }
        &.text-new{
            background:$brand-info;
            &:after {  border-top-color: $brand-info ; } 
        }
        &:after{
            content: "";
            position: absolute;
            border: 3px solid transparent;
            top: 100%;
            left: 50%;
            margin-left: -3px;
        }
    }
}

@media (min-width: 768px) {

    .navbar-mega  .navbar-nav > li {
        &:hover{
            > .dropdown-menu{
                opacity: 1;
                right: 0px;    
                transform:translate(0px, 0px);
                visibility: visible;                
            }
        }
    }
 
}
/**
 * White Styles
 */
.navbar-mega-light{
    .navbar-mega .navbar-nav > li > a, .navbar-mega .navbar-nav > li > a .caret {
        color:#FFFFFF;
        &:hover{
            color: #FFFFFF;
        }
    }
    
}

.navbar-mega-theme{
    background:$theme-color;
    .navbar-mega .navbar-nav > li > a, .navbar-mega .navbar-nav > li > a .caret {
        color:#FFFFFF;
    }
    
}


/**
 * Simple Styles
 */
.navbar-mega-simple{
   .pbr-megamenu{
        /* display: inline-block; */
   }
}



/*** Vertical Megamenu ***/
.pbr-vertical-menu{
    .navbar-vertical-mega{
        display: block;
        position:relative;
        width: 100%;
        & > li{
            display: block;
            float: none;
            clear: both;
            width: 100%;

            & >  a{
                text-transform: uppercase;
                padding-top:10px;
                padding-bottom:10px; 
                font-size:13px;
            }
            border-bottom:solid 1px $border-color;
            .dropdown-menu{
                top:0;
                left: 100%;
            }
          
            &:hover{
                & > .dropdown-menu{
                    display: block;
                }
            }
            .caret{
                float: right;
            }
        }   
    }
    &.menu-right > li {
        .dropdown-menu{
            top:0;
            right: 100%;
        }
    }
}


.menu-item-language-current .submenu-languages {
  display: none;
  position: absolute;
  top:100%;
  background-color: #fff;
  min-width: 170px;
}
.menu-item-language-current:hover .submenu-languages {
  display: block;
}
.menu-item-language-current:hover .submenu-languages li {
  padding: 5px 10px;
}