
/**
 * 6.10 Contributor Page
 * -----------------------------------------------------------------------------
 */
.content-area {
   padding-top: 30px;
 }
 .page .woocommerce-page .content-area {
   padding-top: 30px;
 }
 .page .content-area {
   padding-top: 0;
 }
.contributor {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing:      border-box;
	padding: 48px 10px;
}

.contributor:first-of-type {
	padding-top: 24px;
}

.contributor-info {
	margin: 0 auto;
	max-width: 474px;
}

.contributor-avatar {
	border: 1px solid rgba(0, 0, 0, 0.1);
	float: left;
	margin: 0 30px 20px 0;
	padding: 2px;
}

.contributor-name {
	font-size: 16px;
	font-weight: 900;
	line-height: 1.5;
	margin: 0;
}

.contributor-bio a {
	text-decoration: underline;
}

.contributor-bio a:hover {
	text-decoration: none;
}

.contributor-posts-link {
	display: inline-block;
	line-height: normal;
	padding: 10px 30px;
}

.contributor-posts-link:before {
	content: "\f443";
}


/**
 * 6.11 404 Page
 * -----------------------------------------------------------------------------
 */
.notfound-page{
   .title{
      font-size: 160px;
      color: $theme-color;
      font-weight: 700;
      line-height: 1;
      display: block;
      .sub{
         font-size: 36px;
         font-weight: 300;
         color: #666;
         padding: 30px 0;
         margin: 0 0 30px;
         display: block;
         position: relative;
         &:before{
            content: "";
            height: 3px;
            width: 100px;
            background: #666;
            position: absolute;
            left: 50%;
            bottom: 0;
            margin-left: -50px;
         }
      }
   }
   .error-description{
      color: #666;
      padding: 0 20%;
      font-size: 20px;
      @media(max-width: $screen-sm-max){
         padding: 0 10px;
      }
   }
   .page-action{
      margin-top: 50px;
      a{
         margin: 10px 10px;
         @media(max-width: 360px){
	         padding-left: 10px;
	         padding-right: 10px;
	     }
      }
   }
}
.contact > div{
   margin-bottom: 10px;
}
