
/**
 * 6.3 Entry Meta
 * -----------------------------------------------------------------------------
 */
.sticky .entry-date {
	display: none;
}

.cat-links {
	font-weight: 900;
	text-transform: uppercase;
}

.cat-links a {
	color: #2b2b2b;
}

.cat-links a:hover {
	color: $theme-color;
}

.byline {
	display: none;
}



/* Tag links style */

.entry-meta {
	color: #999;
	font-size: 12px;
	line-height: 26px;
	font-weight: 500;
	text-transform: uppercase;
	a{
		color: #000;
		text-transform: uppercase;
		&:hover{
			color: $theme-color;
		}

	}

	
	span{
		.meta-sep {
			color: #dcdcdc;
			margin: 0 2px;
		}
		span{
			color: $theme-color;
		}
	} 
	.avatar	{
		@include border-radius(50%);
		margin-bottom: 20px;
	}
}
.tag-links {
	margin-top: 8px;
	a {
		background-color: #000;
		border-radius: 0 2px 2px 0;
		color: #fff;
		display: inline-block;
		font-size: 11px;
		line-height: 1.2727272727;
		margin: 2px 4px 2px 10px;
		padding: 3px 7px;
		position: relative;
		text-transform: uppercase;
	  	
	  	&:hover {
		    background-color: $theme-color;
		    color: #fff;
	  	}
	  	
	  	&:before {
		    border-top: 10px solid transparent;
		    border-right: 8px solid #000;
		    border-bottom: 10px solid transparent;
		    content: "";
		    height: 0;
		    position: absolute;
		    top: 0;
		    left: -8px;
		    width: 0;
	  	}
	    
	    &:hover:before {
	    	border-right-color: $theme-color;
	  	}
	  	&:after {
		    background-color: #fff;
		    border-radius: 50%;
		    content: "";
		    height: 4px;
		    position: absolute;
		    top: 8px;
		    left: -2px;
		    width: 4px;
	 	}
	}
}
.entry-date,
.meta-sep,
.author,
.entry-category,
.comments-link,
.edit-link {
	a {
		@include rtl-margin-left(5px);
	}
}
.entry-category {
	ul {
		margin: 0;
		display: inline-block;
		padding:0;
		li {
			margin: 0;
			padding: 0;
		}
	}
}

/**
 * 6.4 Entry Content
 * -----------------------------------------------------------------------------
 */

.entry-content,
.entry-summary,
.page-content {
	-webkit-hyphens: auto;
	-moz-hyphens:    auto;
	-ms-hyphens:     auto;
	hyphens:         auto;
	word-wrap: break-word;
}

.site-content .entry-content,
.site-content .entry-summary,
.page-content {
	margin-bottom: 30px;
}

.entry-content h1:first-child,
.entry-content h2:first-child,
.entry-content h3:first-child,
.entry-content h4:first-child,
.entry-content h5:first-child,
.entry-content h6:first-child,
.entry-summary h1:first-child,
.entry-summary h2:first-child,
.entry-summary h3:first-child,
.entry-summary h4:first-child,
.entry-summary h5:first-child,
.entry-summary h6:first-child,
.page-content h1:first-child,
.page-content h2:first-child,
.page-content h3:first-child,
.page-content h4:first-child,
.page-content h5:first-child,
.page-content h6:first-child {
	margin-top: 0;
}

.entry-content a,
.entry-summary a,
.page-content a,
.comment-content a {
	text-decoration: none;
}

.entry-content a:hover,
.entry-summary a:hover,
.page-content a:hover,
.comment-content a:hover,
.entry-content a.button,
.entry-summary a.button,
.page-content a.button,
.comment-content a.button {

}

.entry-content table,
.comment-content table {
	font-size: 14px;
	line-height: 1.2857142857;
	margin-bottom: 24px;
}

.entry-content th,
.comment-content th {
	font-weight: 600;
	padding: 8px;
}

.entry-content td,
.comment-content td {
	padding: 8px;
}

.entry-content .edit-link {
	clear: both;
	display: block;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.3333333333;
	text-transform: uppercase;
}

.entry-content .edit-link a {
	color: $theme-color;
	text-decoration: none;
}

.entry-content .edit-link a:hover {
	color: #41a62a;
}

.entry-content .more-link {
	white-space: nowrap;
}
.ratings a{
	text-indent:-9999em !important;
}

.post-categories{
	li{
		display: inline-block;
		list-style: none;
		list-style-type: dashed
	}
}
/**
 * Navigation links
 */
.nav-links{
	background: #fafafa;
	padding:20px;
	margin-top:  30px;
	.meta-nav{
		font-weight: bold;
		@include rtl-margin-right(  10px );
	}
}



.entry-content-page{ 
    .edit-link{
        background:#000;
       
        position: absolute;
        top: 0;
        right: 0;
        padding:5px 6px;
        a{
            font-size: 11px;
          color: #FFF!important;
        }  
        z-index: 10000;
    }
    position:relative;
}


/* Mediaelements */

.hentry .mejs-container {
	margin: 12px 0 18px;
}

.hentry .mejs-mediaelement,
.hentry .mejs-container .mejs-controls {
	background: #000;
}

.hentry .mejs-controls .mejs-time-rail .mejs-time-loaded,
.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
	background: #fff;
}

.hentry .mejs-controls .mejs-time-rail .mejs-time-current {
	background: #24890d;
}

.hentry .mejs-controls .mejs-time-rail .mejs-time-total,
.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
	background: rgba(255, 255, 255, .33);
}

.hentry .mejs-container .mejs-controls .mejs-time {
	padding-top: 9px;
}

.hentry .mejs-controls .mejs-time-rail span,
.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
	border-radius: 0;
}

.hentry .mejs-overlay-loading {
	background: transparent;
}

.hentry .mejs-overlay-button {
	background-color: #fff;
	background-image: none;
	border-radius: 2px;
	box-shadow: 1px 1px 1px rgba(0,0,0,.8);
	color: #000;
	height: 36px;
	margin-left: -24px;
	width: 48px;
}

.hentry .mejs-overlay-button:before {
	-webkit-font-smoothing: antialiased;
	content: '\f452';
	display: inline-block;
	font: normal 32px/1.125 Genericons;
	position: absolute;
	top: 1px;
	left: 10px;
}

.hentry .mejs-controls .mejs-button button:focus {
	outline: none;
}

.hentry .mejs-controls .mejs-button button {
	-webkit-font-smoothing: antialiased;
	background: none;
	color: #fff;
	display: inline-block;
	font: normal 16px/1 Genericons;
}

.hentry .mejs-playpause-button.mejs-play button:before {
	content: '\f452';
}

.hentry .mejs-playpause-button.mejs-pause button:before {
	content: '\f448';
}

.hentry .mejs-volume-button.mejs-mute button:before {
	content: '\f109';
	font-size: 20px;
	position: absolute;
	top: -2px;
	left: 0;
}

.hentry .mejs-volume-button.mejs-unmute button:before {
	content: '\f109';
	left: 0;
	position: absolute;
	top: 0;
}

.hentry .mejs-fullscreen-button button:before {
	content: '\f474';
}

.hentry .mejs-fullscreen-button.mejs-unfullscreen button:before {
	content: '\f406';
}

.hentry .mejs-overlay:hover .mejs-overlay-button {
	background-color: #24890d;
	color: #fff;
}

.hentry .mejs-controls .mejs-button button:hover {
	color: #41a62a;
}
article{
	position: relative;
	&.post {
		margin-bottom: 20px;
		.entry-thumb {
			margin-bottom: 15px;
			img {
				width: 100%;
			}
		}
		.entry-title {
			font-size: 18px;
		}
	}	
	header{
		position: relative;
		.cat-links{
			top: -40px;
			@include rtl-left( 20px );
			z-index: 9;
			
		}
	}
	h5.entry-title {
		line-height: 1.4;
		text-transform: uppercase;
		font-weight: 700;
		margin-top: 15px;
	}
	
	.entry-excerpt {
		color: $light-gray;
		line-height: 24px;
	}
	
	.entry-thumb {
		overflow: hidden;
	}
	
	.post-format a{
		i{
			display: none;
		}

	}
}
/*------------------------------------*\
    Comment List
\*------------------------------------*/

.comments{
    .the-comment{
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid $border-color;
    .avatar{
        @include rtl-float-left();
        @include rtl-margin-right(10px);
        img{
            @include size(50px, 50px);
            @include border-radius(50%);
          }
        }
    }
    .children{
        .the-comment{
            @include rtl-padding-left(65px);
        }
        .children{
	        .the-comment{
	            @include rtl-padding-left(130px);
	        }
	    }
    }
    .comment-author{
        color: #999;
        font-size: 12px;
        strong{
        	color: #000;
        	font-size: $font-size-base;
        }
    }
    .comment-meta {
        font-size: $font-size-base - 2;
        color: #aaa;
    }
    a{
        font-weight: 600;
        text-transform: uppercase;
    }
    ol, ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
}
.pagination {
	margin-bottom:30px;	
	span,a{
		border:1px solid $border-color;
		padding:6px 12px;
	}
	span.current,
	a:hover {
		color: $theme-color;
	}
}
/*------------------------------------*\
    Single portfolio
\*------------------------------------*/
.pbr-portfolio-navigator{
	margin-bottom:20px;
	.btn{
		@include rtl-margin-right(10px);
	}
	a{
		color: $white;
	}
}
.single-body{
	.entry-title h1{
		display: block !important;
	}
}
.post-single{
	padding-bottom: 60px;
	border-bottom:1px solid $border-color;
	margin-bottom: 60px;
	article{
		margin-bottom: 0;
		.entry-meta	{
			@media (min-width: $screen-xs-min){
				@include rtl-text-align-right();
				@include rtl-margin-right(40px);
			}
			@media (max-width: $screen-sm-min){
				text-align: center;
				margin-bottom: 15px;
			}
		}
	}
}


.related-posts {	
	border-bottom:1px solid $border-color;
	margin-bottom: 30px;
}

//post-archive
.post-archive {
	.row{
		&:last-child{
			.post-single{
				padding-bottom: 0;
				border-bottom:none;
				margin-bottom: 0;
			}
		}
	}
}
