/**
 * VC internal Elements
 */
 .wpb_content_element{
/*  	margin-bottom: $block-module-margin-bottom !important; */
 }

 /**
  */
  .noborder{
    .pbr-category-filter{
      @include rtl-border-right(0);
    }
  }
.pbr-category-filter{
  .category-filter-link{
    display: none;
  }
  &.category-filter-default{
    background: #000 none repeat scroll 0 0;
    cursor: pointer;
    max-height: 360px;
    max-width: 962px;
    min-width: 320px;
    overflow: hidden;
    position: relative;
    text-align: center;
      small{
        display: none;
      }
      .img{
        display: block;
        max-width: 100%;
        min-height: 100%;
        opacity: 0.8;
        position: relative;
        transform: scale(1.12);
        transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
      }
      h4{
        top: 120px;
        transform: translate3d(0px, 0px, 0px);
        transition: transform 0.35s ease 0s;
        left: 30px;
        padding: 10px 0;
        position: absolute;
        right: 30px;
        color: $white;
        letter-spacing: 2px;
        font-size: 48px;
        font-family: $font-family-second;        
        span{
          display: inline-block;
          position: relative;
          &:after{
            background: #ffffff none repeat scroll 0 0;
            content: "";
            height: 2px;
            left: 0;
            right: 0;
            margin:0 auto;
            position: absolute;
            bottom:0;
            transform: translate3d(0px, 10px, 0px);
            width: 100%;
            opacity: 0;
            transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
          }
        }
      }
      .category-caption{
        backface-visibility: hidden;
        color: #ffffff;
        font-size: 1.25em;
        padding: 2em;
        text-transform: uppercase;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        padding:3em;
        &:before{
          background:rgba(0,0,0,0.4);
          bottom: 30px;
          content: "";
          left: 30px;
          position: absolute;
          right: 30px;
          top: 30px;
          transform: scale(1.1);
          opacity: 0;
          transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
        }
      }
      .category-filter-content{
        margin: 0 auto;
        transform: translate3d(0px, 200px, 0px);
        opacity: 0;
        transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
      }
      &:hover{
        img{
          opacity: 0.5;
          transform: scale(1);
        }
        h4{
          transform: translate3d(0px, -50px, 0px);
          span{
            &:after{
              opacity: 1;
              transform: translate3d(0px, 15px, 0px);
            }
          } 
        }
        .category-caption{
          &:before{
            opacity: 1;
            transform: scale(1);
          }
        }
        .category-filter-content{
          opacity: 1;
          transform: translate3d(0px, 120px, 0px);
        }
        .category-filter-list{
          li{
            @include opacity(1);
            bottom: 0;
          }
        }
      }
    .category-filter-list{
      li{
        display: inline-block;
        margin: 0 10px;
        @include transition-property(all);
        @include transition-duration(0.35s);
        @include opacity(0);
        position: relative;
        bottom: -50px;       
        a{  
          font-size: 12px;
          color: $white;
          text-transform: uppercase;
          &:hover{
            color: $theme-color;
          }
        }
      }
      li:nth-child(1){
        @include transition-delay(0.1s, 0s);
      }
      li:nth-child(2){
        @include transition-delay(0.2s, 0s);
      }
      li:nth-child(3){
        @include transition-delay(0.3s, 0s);
      }
      li:nth-child(4){
        @include transition-delay(0.4s, 0s);
      }
      li:nth-child(5){
        @include transition-delay(0.5s, 0s);
      }
    }
  }
  &.category-filter-v1{
      text-align: center;
      &:before{
        background-color:$border-color;
        content: "";
        height: 95px;
        @include rtl-left(0);
        position: absolute;
        top: 28%;
        width: 1px;
      }
      .category-filter-content{              
        display: block;
        left: 0;
        right: 0;
        position: absolute;
        top:0;
        transition: all 0.4s ease 0s;
        width: 60%;
        margin: 0 auto;
        z-index: 1;
        min-height: 228px;
        border: 1px solid transparent;  
          ul{
            left: 0;
            margin: 0 auto;
            opacity: 0;
            padding: 0 20px;
            position: absolute;
            right: 0;
            top: 80px;
            transition: all 400ms ease 0s;
          }  
      }
      .filter-head{
        margin-bottom: 40px;        
      }
      h4{
        font-size: 14px;
        margin-top: 20px;
      }
      .category-image{
        margin-top: 100px;
      }
      small{
        position: relative;
        &:before{
            position: absolute;
            content: "";
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 40px;
            height: 3px;
            background-color:$border-color;
            bottom: -20px;
        }
      }
      &:hover{
        .category-filter-content{
          background: #ffffff none repeat scroll 0 0;          
          border-color: #000;
          top: 0;
          height: auto;
          a{
            font-size: 11px;
            text-transform:uppercase;
          }
          ul{
            opacity: 1;
            top: 100px;
          }
          h4{
            color: $theme-color;
            cursor: pointer;
          }
        }
      }
  }
}
.wpb_column{
    &:first-child{
      .pbr-category-filter.category-filter-v1{
        &:before{
          content: none;
        }
    }
  }
}
  /**
   *
   */
.widget-text-heading {
  padding-top: 45px;
  padding-bottom: 20px;
  .widget-heading{
      font-size: 60px;
      position: relative;
      z-index: 3;
      letter-spacing: -4px;
      font-family: $font-family-sans-serif;
      text-transform: none;
      
      .description{
          display: block;
          position: absolute;
          z-index: -1;
          top: -30px;
          letter-spacing: 6px;
          right: 0;
          left: 3px;
          font-size: 14px;
          text-transform: uppercase;
          font-weight: 500;
          padding: 5px 0 0;
          margin:0 auto;
          color: #999;
      }
   }
   .heading-style1 {
      &.widget-heading{
        text-align: center;
        .heading-text {
          position: relative;
            display: inline-block;
            @media screen and (min-width: $screen-md-min) {
              &:before, &:after{
                @include size(10px,10px);
                position: absolute;
                top: 50%;
                content: "";
                margin-top: -5px;
                background-color: $theme-color;
                @include border-radius(10px);
              }
              &:before{
                right: -20px;
              } 
              &:after{
                left: -20px;
              }

          }
        }
      }
      .description{
          text-align: center

      }
   } 
}
/**
 * Product Tabs Widgets
 */
.widget-productcats{
    .widget-heading{
        h3{
            margin: 10px 0 0;
        }
        .sub-categories{
            padding-top:20px;
            a{
                color: #888;
                font-size: 95%
            } 
        }
    }
}
/**
 * Styles for News Blogs
 */
.frontpage-blog{
  .main-blog{
    .post{
      .entry-content{
        margin-top:10px;
      }
      .entry-title{
        margin-bottom: 0;
        font-size: 16px;
      }
    }
  }
 span{
    color: $theme-color;
  }
}
.frontpage-posts{
  span{
    color: $theme-color;
  }
  &.frontpage-3 {
    .main-posts {
        .post {
            margin-bottom: 25px;
            .entry-title{
              text-transform: uppercase;
            }
        }

    }
    .post {
        margin-bottom: 20px;
        .entry-thumb {
            overflow: hidden;
            img {
                width: 100%;
            }
        }
        .entry-content {
            padding-top: 20px;
        }
        .entry-title {
            margin-top: 0;
            text-transform:none;
        }
    }
  }
  &.frontpage-9{
    span{
      color: $white;
    }
    .entry-thumb{
      position: relative;
      &:before{
          background-image:linear-gradient(to top, #000 0%, #fefefe 100%);
          left: 0;
          top: 0;
          bottom:0;
          right: 0;
          width: 100%;
          position: absolute;
          content: "";
          opacity: 0.5;
      }
    }
    .entry-content{
      color: $white;
      position: absolute;
      bottom:30px;
      background:transparent;
      @include rtl-left(20px);      
    }
    .entry-title{
      font-size: $font-size-base - 2;
      margin-bottom: 5px;
      a{
        color: $white;
      }
    }
    .entry-date{
      font-size: $font-size-base - 3;
    }
  }
  &.frontpage-12 {
    .secondary-posts{
      .entry-title{
        text-transform: none;
        font-weight: normal;
      }
      .entry-date{
        color: $theme-color;
        span{
          @include rtl-margin-right(5px);
        }
      }
    }
  }
  &.frontpage-categories{
    .main-posts {
        .entry-thumb {
            overflow: hidden;
            margin-bottom: 20px;
            img {
                width: 100%;
            }
        }

    }
    .post{
      margin-bottom: 20px;
    }
  }
  
} 

.wpb_flickr_widget {
  text-align: center;
  .wpb_wrapper {
    margin-top: -20px;
  }
  .wpb_flickr_heading{
    font-size: 18px;
  }
  .flickr_badge_image {
    float: none;
    display: inline-block;
    margin: 20px 10px 0;
    @include size(120px,120px);
  }
  .flickr_stream_wrap {
    display: none;
  }
}
.vc_grid-item {
  .vc_separator {
    display: none;
  }
  .vc_grid-item-mini {
    .vc_gitem-zone {
      .vc_gitem-zone-mini {
        .vc_gitem_row .vc_gitem-col {
          padding: 15px 20px 20px;
          .vc_custom_heading {
            margin: 0;
            padding: 0;
            h1,h2,h3,h4,h5,h6 {
              font-size: 14px;
            }
          }
          .vc_gitem-post-data-source-post_excerpt {
            max-height: 95px;
            overflow: hidden;
          }
          .vc_btn3.vc_btn3-size-md {
            padding: 10px 20px;
            border: none !important;
            margin-top: 15px;
          }
        }
      }
    }
  }
}
/**
 * Styles for progress bar
 */

.vc_progress_bar{
  margin-top: 40px;
  .vc_single_bar{
      margin-bottom: 30px !important;
      .vc_bar{
        background-color: rgba(0, 0, 0, 0);
        border-radius: 0;    
        height: 20px;      
      }
    .vc_label{
      margin: 0;
      padding: 0 !important;
      position: absolute;
      top: -25px;  
      height: 20px;
      .vc_label_units{
        @include rtl-float-left();
        color: red;
        margin: 0 10px 0 0;
        font-weight: bold;
      }    
    }
  }
}

.vc_tta-container{
  h2{
    margin-top: 0;
  }
}
/*------------------------------------------------------------------
[# Toggles]
-------------------------------------------------------------------*/
.vc_toggle_default{
  &.vc_toggle_color_default{
    margin-bottom: 20px;
    .vc_toggle_title{
      padding: 10px 25px !important;
    }
  }
  .vc_toggle_title{
    padding-left: 20px;    
    border: 1px solid #e4e4e4;
    cursor: pointer; 
    background-color: #f7f7f7;
    h4{
      text-transform: none; 
    }
  }
}
/*------------------------------------------------------------------
pbr-our-team
-------------------------------------------------------------------*/
.pbr-our-team{
  ul.list-inline{
      li{
          padding: 0 10px;
          a{
            color: #999;
            &:hover{
              color: $theme-color;
            }
          }
      }
  }
}


/*
 * Single Image 
 */
.wpb_single_image{
    
    position:relative;
    text-transform: uppercase;

    .wpb_heading{
        background: #FFF;
        opacity: 0.8;
        padding:4px 6px;
        top:10%;
        left:20px;
        color: #000;
        font-size: 90%;
        font-weight: normal;
        position:absolute;
    }
    .description{
        position: absolute;
        top:40%;
        left:20px;
        max-width: 90%;
        span{
            font-weight: bold;
        }
    }
} 
//
.vc_tta.vc_general {
  .vc_tta-panel-title{
    font-size: 14px!important;
    > a {
      position: relative;
      @include rtl-text-align-left(); 
      &:before{
        @include size(42px, 100%);
        background-color: #000;
        position: absolute;
        top: 0;
        content: "";
      }

    } 
     &.vc_tta-controls-icon-position-right{
       > a {
         @include rtl-padding(14px, 42px ,14px, 20px);
         &:before{
          @include rtl-right(0);
         }
         .vc_tta-controls-icon{
          @include rtl-right(18px);
        }
       }
    }
    &.vc_tta-controls-icon-position-left{
      > a {
        @include rtl-padding(14px, 20px,14px, 42px);
         &:before{
          @include rtl-left(0);
         }
         .vc_tta-controls-icon{
           @include rtl-left(18px);
         }
       }
    }
  }
  .vc_tta-controls-icon{
    @include size(8px, 8px);
    &:before, &:after{
      border-color: #fff!important; 
    }
  }
  .vc_active {
      .vc_tta-panel-title{
      > a {
        position: relative;
        &:before{
          background-color: $theme-color;
        }
      }
    }
  }
}
//googlemap
.wpb_gmaps_widget .wpb_wrapper {
  padding: 0 !important;
}

//vc_tta-panels
.vc_general{
  .vc_tta-panels{ 
    .vc_tta-panel{
      .vc_tta-panel-body {
        background-color: #fff!important;
        padding: 15px 0!important;
        .vc_toggle_title {
          background-color: #fff!important;
          h4 {
            font-size: 14px;
            font-weight: 500;
            position: relative;
          }
        }
      }
    }
  }
  &.vc_tta-tabs {
    .vc_tta-tabs-container {
      .vc_tta-tabs-list{ 
        border-bottom: 1px solid $border-color;
        margin-bottom: 15px;
      .vc_tta-tab{
        margin-left: 10px;
        margin-right: 10px;
          a {
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 700;
            border: none;
            padding-left: 0;
            padding-right: 0;
            &:hover{
              border-bottom: 5px solid  $theme-color !important;
              background-color: transparent;
              color: #000;
            }
          }
          &.vc_active{
            a{
              border-bottom: 5px solid  $theme-color !important;
              background-color: transparent;
              color: #000;
            }
          }
        }
      }
    }
  }
}