/* block */

.#{$block-selector} {
    margin-bottom: $block-module-margin-bottom;
    position: relative;
    padding: $block-module-padding;
    background: transparent;
    border-width: 0px;
    border-style: solid;
    .#{$block-heading-selector}{
        /* color: $block-module-heading-color; */
        padding: $block-module-heading-padding;
        margin: $block-module-heading-margin;
        text-transform: $block-module-heading-transform;
        font-size: $block-module-heading-font-size;
        font-family: $block-module-heading-font-family;
        position: relative;
        z-index: 10;
        letter-spacing: 1px;
        line-height: 1.1;
        > span{
            @include rtl-padding-left(20px);
            margin-top: 0;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
           
            position: relative;
            letter-spacing: -2px;
            &:after{
              @include size(10px,10px);
              position: absolute;
              top: 50%;
              content: "";
              margin-top: -5px;
              background-color: $theme-color;
              @include border-radius(10px);
              @include rtl-left(0);
                
            }
        }
        .subtitle{
            font-weight: normal;
            font-size: 11px;
            text-transform: none;
             &:before{ display:none }
        }    
    }
    .widget-title-v2{
        border-top: 1px solid $border-color;
        > span{
            background:$white;
            position: relative;
            top: -10px;
            padding:0 20px;
        } 
    }
    .#{$block-content-selector} {
        @include border-radius ($block-module-content-radius);
        @include clearfix();
        background-color: $block-module-content-bg;

    }
    .#{$block-heading-reversed-selector}{
        @include rtl-margin-right(75px);
    }

    /* block styles */
    &.nopadding{
        .#{$block-content-selector}{
            padding:0;
            margin: 0;
        }
    }

}

// Contextual variations

.#{$block-prefix}-default {
  @include block-variant($panel-default-border, $panel-default-text, #000, $panel-default-border);
}
.#{$block-prefix}-primary {
  @include block-variant($panel-primary-border, $panel-primary-text, $panel-primary-heading-bg, $panel-primary-border);
}
.#{$block-prefix}-success {
  @include block-variant($panel-success-border, $panel-success-text, $panel-success-heading-bg, $panel-success-border);
}
.#{$block-prefix}-info {
  @include block-variant($panel-info-border, $panel-info-text, $panel-info-heading-bg, $panel-info-border);
}
.#{$block-prefix}-warning {
  @include block-variant($panel-warning-border, $panel-warning-text, $panel-warning-heading-bg, $panel-warning-border);
}
.#{$block-prefix}-danger {
  @include block-variant($panel-danger-border, $panel-danger-text, $panel-danger-heading-bg, $panel-danger-border);
}

.sidebar {
  .#{$block-selector} {
    .#{$block-heading-selector}{
        font-size: 20px;
    }
  }

}

/**
 * Styling Css for widgets in footer layout
 */
.pbr-footer{
    .#{$block-selector} {
        .#{$block-heading-selector}{
            font-size: 18px;
            border:none;
            margin-bottom: 0;
            & > span{
                padding: 0px 0px;
                &:before{
                    content: none;
                }
            }
        }
    }   
}
.widget-footer {
    margin-bottom: 20px;
    .widget-title{
        font-size: 30px;
        text-transform: none;
        color: #fff;
        @include rtl-padding(50px, 0 , 35px,20px);
        margin-bottom: 35px;
        margin-top: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        span{
            position: relative;
            letter-spacing: -2px;
            &:after{
              @include size(10px,10px);
              position: absolute;
              top: 50%;
              content: "";
              margin-top: -5px;
              background-color: #e43636;
              @include border-radius(10px);
              @include rtl-left(-20px);
            }
        }
    }
    ul{
        @include rtl-padding-left(15px);
        li{
            padding: 5px 0;
        }
        &.list-unstyled{
          @include rtl-padding-left(0);
        }
    }
}

 .title-heading{
        font-size: 30px;
        text-transform: none;
        @include rtl-padding-left(25px);
        margin-bottom: 20px;
        margin-top: 0;
        position: relative;
        letter-spacing: -2px;
        &:after{
          @include size(10px,10px);
          position: absolute;
          top: 50%;
          content: "";
          margin-top: -5px;
          background-color: #e43636;
          @include border-radius(10px);
          @include rtl-left(0);
            
        }
    }