$theme-font-path           : "../../../fonts/";
$fa-font-path              : "../../../fonts/";
$image-theme-path          : "../../../images/";
$image-theme-skin			: "../../../images/";
$theme-color               : #f0c73b;
$link-hover-color			:#f0c73b;
$brand-primary              :#f0c73b;

$btn-default-bg:                 $theme-color;
$btn-default-border:             $theme-color;