$theme-font-path           : "../../../fonts/";
$fa-font-path              : "../../../fonts/";
$image-theme-path          : "../../../images/";
$image-theme-skin			: "../../../images/";
$theme-color               : #c90606;
$link-hover-color			:#c90606;
$brand-primary              :#c90606;

$btn-default-bg:                 $theme-color;
$btn-default-border:             $theme-color;