$theme-font-path           : "../../../fonts/";
$fa-font-path              : "../../../fonts/";
$image-theme-path          : "../../../images/";
$image-theme-skin			: "../../../images/";
$theme-color               : #70ba28;
$link-hover-color			:#70ba28;
$brand-primary              :#70ba28;

$btn-default-bg:                 $theme-color;
$btn-default-border:             $theme-color;