/*------------------------------------*\
    Mini Cart
\*------------------------------------*/

.pbr-topcart{
    .dropdown{
        &.open{
            .mini-cart{
                &:before{
                    content:"";
                    background:transparent;
                    position:absolute;
                    top: 0;
                    @include rtl-left(0);
                    @include size(100%, 200px);
                }
            }
        }
    }
    .dropdown-menu{
        top: 50px;
        padding: $theme-padding;
        min-width: $mini-cart-dropdown-size;
        display: block;
        visibility: hidden;
        @include rtl-text-align-left;
        @include rtl-left(auto);
        @include rtl-right(0);
        @include box-sizing(border-box);
        @include opacity(0);
        @include scale(0);
        @include transition(all 300ms cubic-bezier(0.34, 1.61, 0.7, 1));
        &:before,
        &:after{
            content: "";
            @include inline-block();
            position: absolute;
            @include rtl-left(100%);
            @include rtl-margin-left(-26%);
        }
        &:before{
            top: -11px;
            border-bottom: 11px solid rgba($black, 0.2);
            border-left: 11px solid rgba($black, 0);
            border-right: 11px solid rgba($black, 0);
        }
        &:after{
            top: -10px;
            border-bottom: 11px solid $white;
            border-left: 11px solid rgba($black, 0);
            border-right: 11px solid rgba($black, 0);
        }
        .quantity{
            font-size: $font-size-base;
        }
    }
    .media{
        border-bottom:solid 1px $border-color;
    }
    .name {
        font-size: 12px;
        a{
            color: $black!important;
            &:hover{
                color: $theme-color!important;
            }
        }    
    }
    .open{
        .dropdown-menu{
            @include scale(1);
            @include opacity(1);
            @include transform-origin(29px, -50px);
            @include filter(none);
            visibility: visible;
            z-index: 99999;
        }
    } 

    .total{
        padding-top:20px;
        padding-bottom:10px;
    }
    .buttons{
        margin-bottom: 0;
        padding:15px 30px;
        margin-right: -20px;
        margin-left: -20px;
        
    }
}

#cart{
    .mini-cart{
        > * {
            text-transform: uppercase;
            font-weight: 300;
        }
        .title-cart{
            @include font-size(font-size, 11px);
            font-weight: 400;
            line-height: 24px;
        }
    }
    .cart-icon{
        text-transform: uppercase;
    }
    .title-cart,  .dropdown-toggle  .amount, .mini-cart-items em {
        display: none;
    }
    .mini-cart-items{ 
        display: block;
        top:0;
        @include rtl-right(0);
        position: absolute;
        color: #FFF;
        font-size: 10px;
        padding:0 6px;
        z-index: 3;
        font-weight: bold;
        border: 1px solid rgba(255, 255, 255, 0.4);
        line-height: 24px;
        text-align: center;
        @include size(24px,24px);
    } 
    .cart-icon {
        display: inline-block;
        @include rtl-padding (7px, 10px, 0, 0);
        i{
            display: block;
            @include rtl-float-left();
            background: url('#{$image-theme-skin}cart-bg.png') no-repeat center top $nocolor;
            @include size(24px, 24px);
            @include transition(all 0.35s);
        }
    }
    &.version-2{
        background-color: $theme-color;
        padding: 11px 15px;
        .cart-icon {
            @include rtl-padding (0, 10px, 0,0);
            display: inline;
            i{
                background: transparent;
                color: #fff;
                line-height: 22px;
                text-align: center;
            }
        } 
        .title-cart {
            display: inline-block;
            color: #fff;
            @include rtl-margin-right(10px);
        }        
        .mini-cart-items{
            position: inherit;
            display: inline-block;
            z-index: 3;
        }
    }
    &.version-4{
        .cart-icon {
            i{
                background: url('#{$image-theme-skin}cart-v4.png') no-repeat center top $nocolor;
            }
        }
    } 
}

///// Elements Styles //////////////// ////////////// ////////////// ////////////// ////////////// ////////////// //////////////

.woocommerce .product.first{
    clear: both;
}

.widget-products{
   .owl-controls{
    display: none !important;
   }
}

.widget-products-bg{
    margin: 0 -10px;
    .owl-wrapper-outer{
        //margin: 0 -10px;
    }
    .owl-item{
        padding:0 10px;
   }
   .product-block .caption::before{
    content: none;
   }
}
.productinfo-show-discounts {
    font-size: $font-size-base - 2;
    margin: 20px 0!important;
    @include rtl-padding-left(75px);
    position: relative;
    color: #666;
    &:before {
        background:  url('#{$image-theme-path}icon-show-discounts.png') no-repeat center center $brand-success;
        @include size (36px,36px);
        @include border-radius(50%);
        position: absolute;
        @include rtl-left(20px);
        top: 20px;
        content: "";
    }
      padding:0;
      margin-bottom: $line-height-computed;
      border-radius: $alert-border-radius;
      overflow: hidden;

    @include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text);
 
     ul {
        list-style: none;
        @include rtl-margin-left(40px);
        padding:15px 30px;
        li {
             padding:  3px 0;
             &:before {
                 content: "\f14a";
                 font-family: "FontAwesome";
                 color: $brand-success;
                 @include rtl-padding-right(8px);
            }
        }
    }
}

//reviews
#reviews{
    margin-bottom: 0;
    .reviews-summary {
        padding: 0 80px;
        h5 {
            font-size: 12px;
            margin-bottom: 20px;
        }
        .review-summary-total{
            text-align: center;
            font-weight: 400;
            @include rtl-margin-right(50px);
            @include rtl-padding-right(50px);
            @include rtl-border-right(1px solid $border-color);
            .review-summary-result {
                text-align: center;
                color: $theme-color;
                font-size: 48px;
            }
        }
        .review-summary-detal {
            overflow: hidden;
            display: block;
            margin-top: 0px;
            .review-label{
                color: $black;
                font-weight: 400;
                min-width: 60px;
            }
            .progress {
            }
        }
    }
    .comments{
        border-top: 1px solid $border-color;
        padding: 40px 0;
        margin-top: 40px;
        .commentlist {
            margin: 15px 0;
            .comment {
                margin-bottom: 30px;
                padding-bottom: 15px;
                border-bottom:  1px solid $border-color;
                &:last-child {
                    margin-bottom: 0;
                    padding-bottom: 0;
                    border-bottom: none;
                }
            }
            .pbr-avata {             
                width: 100px;
                > div {
                    display: inline-block;
                }
                .pbr-image {
                    .avatar {
                        @include border-radius(50%);
                        overflow: hidden;
                    }
                }
                .pbr-author {
                    color: $black;
                    font-weight: 900;
                    padding-top: 10px;
                    text-transform: capitalize;
                }
            }
            .comment-text {
                padding: 0 20px;
                .meta {
                    color: #bbb;
                    font-size: 12px;
                }
                > div {
                    margin-bottom: 7px;
                    @include rtl-float-left;
                }
                .star-rating  {
                    margin-bottom: 15px;
                }
            }
        }
    }
    .review_form_wrapper {      
        border-top: 1px solid $border-color;
        padding: 40px 0  0;
    }

    .progress{
        margin-bottom: 12px;
        background-color: #f2f2f2;
        @include box-shadow(none);
        height: 18px;
        .progress-bar {
            color: #aaa;
            &.progress-bared {
                color: #fff;
            }
        }
    }

    #reply-title {
        margin-bottom: 20px;
        font-size: 16px;
        font-family: $font-family-base;
    }
}

////////// Pages Styles ////////////// ////////////// ////////////// ////////////// ////////////// ////////////// //////////////
/**
 * Product Single Page
 */

.product-block{
    display: block;
    position: relative;    
    @include transition(all 400ms ease 0s);
    z-index: 0;
    @media (max-width: $screen-phone){
        margin-bottom: 20px;
    }
    @media (min-width: $screen-sm) and (max-width: $screen-sm-max){
        margin-bottom: 30px;
    }
    span.onsale{
        top: inherit;
        right: 0;
        left: 0;
        bottom: -15px;
        margin: 0 auto;
     }
    .sale-off{
        position: absolute;
        @include size(36px, 36px);
        background-color: #fb4949;
        color: #fff;
        top: 0;
        @include rtl-right(0);
        @include border-radius(50%);
        line-height: 36px;
        font-size: 12px;
        font-weight: 400;
    }
    .image{
        position: relative;
        img{
            height: auto;
            width: 100%;  
        }
        a,.product-image{
            display: block;
            overflow: hidden;
            position: relative;
        }
        .image-effect{
            top: 0;
            position: absolute;
            overflow: hidden;
            @include rtl-left(0);
            @include opacity(1);
            @include translate(-100%, 0px);
            @include transition(all 0.3s);
        }
        .image-hover{
            @include transition(all 0.3s );
        }
        &:hover{
            .image-effect{
                @include translate(0px,0px);
            }
            .image-hover{
                @include translate(100%, 0px);
            }
        }
        
    }
    .caption{
        text-align: center;
        position: relative;
    }    
    .price{
        > * {
            width: auto;
            display: inline-block;            
            display:block;
            text-align: center;
            position: relative;
            @include font-size(font-size, $product-price-font-size);
            font-weight: $product-price-font-weight;
            color:$product-price-color;
            display: inline-block;
        }
        & > ins{
            text-decoration:none;
        }
        & > del{
            color: $gray-dark;
            font-size: $font-size-base + 2;
            text-decoration:line-through;
            font-weight: 300;
        }
    }
    .name{
        @include font-size(font-size, $product-name-font-size);
        line-height: $product-name-line-height;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: -1px;
    } 
    .model {
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 2px;
    } 
    .category{
        text-transform: none;
        font-weight: $product-category-font-weight;
        font-style: $product-category-font-style;
        @include font-size(font-size, $product-category-font-size);
        a{
            color: $product-category-color;
            &:hover{
                color: $product-category-hover-color;
            }
        }
    }
    .price {
        margin-top: 20px;
         display: inline-block;
    }
     
    .add_to_cart_button{
        position: relative;
        margin-top: 35px;
        &.loading{
            .title-cart{
                visibility: hidden;
                &:after{
                    visibility: visible;
                    content: "Loading..";
                    position: absolute;
                    top: 15px;
                    left: 5px;
                    width: 100%;
                    text-align: center; 
                }    
            }
        }

    }
    .added_to_cart {
        display: none!important;
    }
    &:hover{ 
        .button-action{
            > div{
                @include opacity(1);
                transform: translate3d(0px, 0px, 0px);               
            }
        }
        .caption{
            &:before{
                content: none;
            }
        }
    }

}
.button-action{
    position: absolute;
    bottom:0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    height: 45px;
    z-index: 999;
    @include transition(all 0.4s ease-in-out 0s);
    width: 100%;
     @media (max-width: $screen-sm){
        display: none;
     }
    > div{  
        display: inline-block;
        text-align: center;
        @include transition-property(all);
        @include transition-duration(0.35s);
        @include translate3d(0px, 0px, 0px);
        @include transition (opacity 0.35s ease 0s, transform 0.35s ease 0s);
        @media(min-width: $screen-sm-max){
            @include opacity(0);
            @include translate3d(0px, 30px, 0px);
        }
        &.yith-compare{
            .compare.added {
                overflow: hidden;
                color: transparent!important;
                &:before{
                    content: "\f0ec";
                    font-family: 'FontAwesome';
                    position: absolute;
                    color: $white!important;
                    @include size(35px, 35px);
                }
            }
        } 
        .title{
            display: none;
        }
        a{
            text-align: center!important;
            @include transition(all 0.35s);
            @include rtl-float-left();
            text-align: center;        
            overflow: hidden;
            position: relative;  
            @include square(40px);  
            @include border-radius(0);
            line-height: 40px;
            background-color: rgba($theme-color, 0.6);
            color: #fff;
            &:hover{
                background-color: rgba($theme-color, 1); 
            }
            &.add_to_wishlist{
                @include border-radius(0);                
                padding:0;
               
                &:hover{
                   
                }
            }
            &.compare{
                @include rtl-margin-left(-4px);
            
                &:hover{
                    
                }
            } 

        }
    }
}

div[class*="add-to-wishlist"]{
    margin-top: 0;
    position: relative;
    .ajax-loading{
        bottom: 0;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
    }
}
a.add_to_wishlist{  
}
.yith-wcwl-add-to-wishlist{
    margin-top: 0;
}
/**
 * Products Listing In Grid Style
 */
.products-grid{
    div.product{
        position: relative;
        .product-block{
            margin-bottom: 60px;
            .name{
                margin-top: 35px;
            } 
            .image{                
                border-bottom: 1px solid $border-color;
                margin-bottom: 30px;
            }
             .rating{
                text-align: center;
                display: none;
                .star-rating{
                    display: inline-block;
                    float: none;
                }
            } 
            .button-action{
                > div.yith-wcwl-add-to-wishlist a {
                    i{
                        @include rtl-margin-right(0!important);
                    }
                    span  {
                        display: none;
                    }
                }
                .yith-wcwl-wishlistaddedbrowse,
                .yith-wcwl-wishlistexistsbrowse{ 
                    .feedback {
                        overflow: hidden;
                        color: transparent;
                        @include size(40px, 40px);
                        text-indent: -999px;
                        background-color: $theme-color;
                        display: block;
                        position: relative;
                        @include border-radius(0);
                        &:before{
                            content: "\f08a";
                            font-family: FontAwesome;
                            position: absolute;
                            color: #fff;
                            line-height: 40px;
                            text-indent: 0px;
                            left: 50%;
                            margin-left: -7px;
                        }
                    }
                    a {
                        display: none!important;
                    }
                    
                }
                .quick-view {
                    .quickview{
                        span {
                            display: none;
                            
                        }
                    }
                }  
            }
        }
       
    } 
}

.products-list{
    
    .rating{
        @include clearfix();
        .star-rating{
            @include rtl-float-right;
        }
    }
    .clear{
        display: none;
    }
    .product-block{
        border-bottom:solid 1px $border-color;
        padding-bottom:30px;
        margin-bottom:30px;
        .name{
            padding:0;
            font-weight: bold;
        }
        .product-assets {
            @include rtl-text-align-right();
        }
        .yith-wcwl-wishlistaddedbrowse,
        .yith-wcwl-add-button,
        .yith-wcwl-wishlistexistsbrowse {
            a,
            a.add_to_wishlist {
                color: #666;
                font-weight: 400;
                line-height: 30px;
                &:hover {
                    color: $theme-color;
                }
                
            }
        }
        .yith-wcwl-wishlistexistsbrowse {
            a {
                display: none;
            }
        }
        a.compare,a.quickview{
            color: #666;
            font-weight: 400;
            line-height: 30px;
            &:hover {
                color: $theme-color;
            }
            &.added {
                color: $theme-color;
            }
        }
        .add_to_cart_button{
        }
        &:hover{
            box-shadow:none;
        }        
    }
    .type-product:last-child .product-block{ border-bottom:none; }
}

ul.pbr-w-products-list{
    padding:0; margin:0!important;  
    .product-block{
        img{
            max-width: 90px;
            @include rtl-margin-right(15px);
        }
    }

}
.woocommerce .product,
.products{
    span.onsale{
        min-width: auto;
        max-height: auto;
        background-color: $brand-warning;     
        color: $white;                
        font-size: 14px;        
        z-index: 100;
        min-height: 30px;
        line-height: 30px;
        padding: 0 15px;
        @include border-radius(20px);
        font-weight: 400;
        max-width: 135px;
        height: 30px;
        bottom: -15px;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        text-align: center;
        top: inherit;
    }
    .star-rating{
        font-size: 10px;
        @include rtl-float-left();
        &:before {
            content: "\53\53\53\53\53";
            color: #d5d5d5;
        }
        span:before {
            content: "\53\53\53\53\53";
            color: $brand-warning;
        }
    }

}

/**
 * Single product
 */
/*------------------------------------*\
    Quantity inputs
\*------------------------------------*/
.quantity {
    position : relative;
    margin   : 0 auto;
    overflow : hidden;
    zoom     : 1;
    span{
        font-size: $font-size-base + 2;
        @include rtl-margin-right(5px);
    }
    @include rtl-float-left();
    input.qty {
        @include border-right-radius(0);
        @include border-left-radius(0);
        padding:5px;      
        @include size(45px, 35px);                       
        color: $black;
        font-weight: 400;
        border: 1px solid #e5e5e5;
        &:focus{
            @include form-control-focus();
        }
    }
    .plus, .minus {
        background      : $white;
        @include rtl-float-right();
        @include rtl-clear-right();
        display         : block;
        padding         : 0;
        margin          : 0;
        vertical-align  : text-top;
        text-decoration : none;
        overflow        : visible;
        text-decoration : none;
        cursor          : pointer;
        line-height     : 13px;
        font-size       : 12px;
        color           : $text-color;
        border          : 1px solid $border-color;
        text-align: center;
        @include size(25px , 19px);
    }
    .plus {
        @include border-bottom-radius(0);
         @include rtl-right (0);
    }
    .minus {
        bottom: 0;
         @include rtl-right (0);
        @include border-top-radius(0);
    }
}


/* Single > Meta */
.product_meta{
    clear: both;
    margin-top: 20px;
    padding: 15px 0 5px;
    border-top:1px solid $border-color;
    a{
        color: #a0a0a0;
        &:hover{
            color: $theme-color;
            text-decoration: none;
        }
    }
    > span{
        display: block;
        color: $black;
    }
    > div{
        margin-bottom:  $theme-margin / 2;
    }
    .posted_in,.tagged_as{
        font-weight: bold; font-weight: 600;
        a{
            font-weight: 400;
        }
    }
} 
.sku_wrapper { font-weight: bold; font-weight: 600}
.sku_wrapper span { display: inline; font-weight: 400; color: #a0a0a0; }
//---------------
.single-product{
    &.woocommerce {
        div.product{
             span.onsale{
                display: none;
             }
             .products{
                 span.onsale{
                    display:  block;
                }
             }
            div.images img{
                width: auto;
                margin-bottom: 20px;
            }
            p.price{
                color:$product-price-color;
                font-size: 30px;
                font-weight: 700;
                del{
                    font-size: 16px;
                    color: #000;
                    font-weight: 600;
                }
                ins{
                    text-decoration: none;
                }
            }
            form.cart{
                margin-bottom: 10px;
                margin-top: 40px;
                padding-top: 40px;
                border-top: 1px solid $border-color;
                div.quantity{
                    @include rtl-margin-right(40px);
                    margin-bottom: 15px;
                    padding: 10px 20px;
                    background-color: #efefef;
                }
                .variations{
                    margin-top: 20px;
                    margin-bottom: 20px;
                    .label{
                        font-size: 12px;
                        text-transform:uppercase;
                        display: table-cell;
                        vertical-align: middle;                        

                    }
                }
            }
            .woocommerce-product-rating{
                margin-bottom: 30px;
                margin-top: 30px;
                border-bottom: 1px solid $border-color;
                border-top: 1px solid $border-color;
                padding: 15px 0;
                .woocommerce-review-link {
                    @include rtl-margin-left(15px);
                    @include rtl-padding-left(15px);
                    @include rtl-border-left(1px solid $border-color);
                }
            }
            .product_title {letter-spacing: -2px;
                display: block !important;
            }
            .yith-wcwl-wishlistaddedbrowse,
                .yith-wcwl-wishlistexistsbrowse{ 
                    .feedback {
                        color: $theme-color;
                    }
                    a {
                        display: none!important;
                    }
                    
                }
        }
        .quantity{            
            .qty{
                width: 60px;
                @include rtl-margin-left(10px);
            }
        }
     } 
    .summary{
       @include font-size(font-size, $single-product-summary-font-size);       
        .star-rating{
            font-size:11.7px;
        }
        .share_social {
            background-color: #f5f5f5;
            border: 1px solid #f0f0f0;
            padding: 15px;
            margin-top:  15px;
            @include border-radius(4px);
            span{
                color: $black;
                line-height: 35px;
            }
        }
        .clear{
            display:none;
        }
        .yith-wcwl-add-to-wishlist{
            position: relative;
            .ajax-loading{
                position: absolute;
                top: 5px;
                @include rtl-left(20px);
            }
        }
        .yith-wcwl-wishlistaddedbrowse,
        .yith-wcwl-add-button,
        .yith-wcwl-wishlistexistsbrowse {
            a,
            a.add_to_wishlist {
                text-transform: uppercase;
                color: #bbb;
                font-size: 12px;
                display: inline;
                letter-spacing: 3px;
                font-weight: 400;

                &:hover {
                    color: $theme-color;
                }
               
            }
        }
        .yith-wcwl-wishlistexistsbrowse  {
            a {
                display: none;
            }
        }
        a.compare{
            color: #bbb;
            text-transform: uppercase;
            font-size: 12px;
            padding: 10px 20px;
            margin-top: 3px;
            letter-spacing: 3px;
            font-weight: 400;
            text-decoration: none;
            &:hover {
                color: $theme-color;
            }
            &:before{
                position: absolute;
                top: 10px;
                 content: "\f021";
                 font-family: "FontAwesome";
                display: block;
                @include square(30px);
                @include rtl-left(0);
                font-weight: 400;
            }
            &.added {
                color: $theme-color;
            }
        }

    }
}
.woocommerce div.product p.price, .woocommerce div.product span.price {
    color: $theme-color!important;
    text-decoration: none;
}

// product woocommerce tabs
.woocommerce div.product .woocommerce-tabs{
    ul.nav-tabs{
        background:transparent;
        padding: 0;
        text-align: center;
        border-color: $border-color;
        margin-bottom: 60px;
        li{
            background:transparent;
            border:none;
            display:  inline-block;
            float: none;
            @media (min-width: $screen-xs-min){
                padding: 25px 0;
                margin: 0 20px;
            }
            @media (max-width: $screen-xs-min){
                padding: 0px ;
                margin: 0 5px;
            }
            &.active{
                 background-color: lighten(#000000, 30%);
                 position: relative;
                 &:before{
                    background-color: $theme-color;
                    @include size(100%, 5px);
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                 }
                 a {
                     background-color: transparent;
                     color: #000;
                 }
            }
            &:after, &:before, &.active:before, &.active:after{
                box-shadow:0px 0px 0 #fff!important;
                border:none !important;
                @include border-radius(0);
            }
            a{ 
                 color: #999;  
                 text-transform:uppercase;
                 font-size:18px; 
                 letter-spacing:-1px;
                 padding-left: 0;
                 padding-right: 0;
                 font-weight: 700;
                 &:hover{
                    color: $black;
                 }
             }
        }
    }
    .tab-pane{
        .item-description {
            padding-bottom: 60px;
            margin-bottom: 60px;
            border-bottom: 1px solid $border-color;
            &:last-child {
                border-bottom: none;
            }
        }
     }
    margin-bottom: $block-module-margin-bottom;
    h2{
        display: none;
    }
}
.woocommerce div.product .woocommerce-tabs ul.nav-tabs li.active{
    background:none;
    color: $black;
}
.woocommerce div.product .woocommerce-tabs ul.nav-tabs::before{
    border-bottom-color:$border-color;
}
.woocommerce-tabs .tab-content {
    overflow: hidden;
}
/**
 * Category And Listing Page
 */

 // styling sortorder and display mode
.products-top-wrap{
    border-bottom: 1px solid $border-color;
    margin-bottom: $grid-gutter-width;
    padding: 10px 0 20px;
    .woocommerce-ordering{
        margin: 0;
        @include rtl-float-right();
    }
    .display-mode{
        @include rtl-float-left();
        margin-top: 0;
        .btn{
            border: 1px solid $border-color;
            border-radius: 0;
            background-color: transparent;
            letter-spacing: 0;
            padding: 0;
            font-size: 14px;
            line-height: 32px;
            @include size(32px, 32px);
            text-align: center;
            color: #b5b5b5;          
            @include rtl-margin-right(15px);
            box-shadow: none;
            -webkit-box-shadow: none;
            &.active{
                color: $theme-color;
                border-color: $theme-color;
            }
            
        } 
        @media (max-width: 400px){
            margin-bottom: 10px;
        }
    }
}

.products-bottom-wrap{
    .woocommerce-pagination{
        @include rtl-float-left();        
    }
    nav.woocommerce-pagination{
        ul,ul li{
            border:none;
            span.current{
                background:transparent;
                color: $theme-color;
                text-decoration: underline;
            }
            a{
                &:hover{
                    background:transparent;
                    color: $theme-color;
                }
            }
        }
    }
    .woocommerce-result-count{
        @include rtl-float-right();
        margin:8px 0;
    }
    padding:20px 0;
}

/*------------------------------------*\
    Quickview
\*------------------------------------*/
#pbr-quickview-modal{
    .modal-dialog{
        overflow: hidden;
        del{
            .amount{
                color: $text-color;
            }
        }
        &.modal-lg {
            @media(max-width: $screen-sm-max){
                width: 90%;
                margin: 15px auto;
            }
        }
    }
    .product-info{
        padding: 0;
        margin: 0;
        .summary{
            @include rtl-margin-right($quickview-product-content-margin);
            width: 95%;
        }
        .product_title{
            padding-top: 0;
            margin-top: 0;
            @include font-size(font-size,$quickview-product-title-font-size);
        }
        .product_meta{
            @include clearfix();
            margin: 25px 0 0;
        }
    }
    .close{
        &:hover{
            .fa,.icon{
                color: $theme-color;
            }
        }
    }
    #quickview-carousel{
        overflow: hidden;
        &:hover{
            .left{
                @include rtl-left(15px);
            }
            .right{
                @include rtl-right(15px);
            }
        }
    }
    .carousel-indicators{
        li{
            border-color: $theme-color;
        }
        .active{
            background: $theme-color;
            border-color: $theme-color;
        }
    }
    .carousel-control{
        top: 0px;
        margin: 34% auto;
        font-weight: normal;
        @include font-size(font-size,20px);
        @include transition(all 0.45s ease);
        &.left{
            @include rtl-left(-60px);
        }
        &.right{
            @include rtl-right(-60px);
        }
    }
}

.pbr-owl-thumbs {
    padding: 20px 0 0;
    list-style: none;
    text-align: center;
    li{
        display: inline-block;
        padding: 0 2px;
        img{

            height: 40px;
            width: auto;
            @include opacity(0.5);
        }
        &:hover{
            img{
                @include opacity(1); 
            }
        }
        &.active {
            img{
                @include opacity(1);
            }
        }
    }
}
.woocommerce form .form-row{
    margin: 22px 0 11px;
    padding: 0;
}
.woocommerce-cart table.cart .product-thumbnail img{
    width:  60px;
}
.rtl{
    &.woocommerce #content div.product div.images, 
    &.woocommerce div.product div.images, 
    &.woocommerce-page #content div.product div.images, 
    &.woocommerce-page div.product div.images {
        float: right;
    }
}
.rtl{
    &.woocommerce #content div.product div.summary, 
    &.woocommerce div.product div.summary, 
    &.woocommerce-page #content div.product div.summary, 
    &.woocommerce-page div.product div.summary {
        float: left;
    }
}

/**
 * Checkout Page
 */

/**
 * Thanks you page
 */

