/* $headings-font-weight:    700 !default; */
/**
 * Import component variables
 */
/** elements mixins **/
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/*inline-block
============================================*/
/****/
/****/
/****/
/** elements mixins **/
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/*inline-block
============================================*/
/****/
/****/
/*
 * Global variables
 */
/* main color which will be used for all main block styles... */
/**
 * Import component variables
 */
/**
 *
 */
/* --- SCSS For Accordion --- */
/* --- SCSS For Breadcrumb --- */
/* --- SCSS For Buttons --- */
/* --- SCSS For Call-to-action --- */
/* --- SCSS For Content-slider --- */
/*  */
/* carousel-controls-v1 */
/* carousel-controls-v2 */
/* carousel-controls-v3 */
/* Navigation Styles */
/* carousel-indicators-v1 */
/* carousel-indicators-v2 */
/* carousel-indicators-v3 */
/* carousel-indicators-v4 */
/* carousel-indicators-v5 */
/* carousel-indicators-v6 */
/* --- SCSS For Counters --- */
/* --- SCSS For Heading --- */
/* --- SCSS For Icon-box --- */
/* --- SCSS For Interactive-banner --- */
/* --- SCSS For Latest-posts --- */
/* latest posts */
/* --- SCSS For List --- */
/* variables for list */
/* variables for list light */
/* --- SCSS For Message --- */
/* --- SCSS For Newsletter --- */
/* --- SCSS For Piechart --- */
/* --- SCSS For Pricing --- */
/* --- SCSS For Process-steps --- */
/* process-steps */
/* --- SCSS For Service --- */
/* variables for tab style1 using as base of tab */
/* --- SCSS For Style-icon --- */
/* Variables icons default */
/* Variables icons bodered */
/* Variables icons darker */
/* Variables icons light */
/* Variables icons plain */
/* Variables icons for light style */
/* Variables icons outline */
/* Variables icons inverse */
/* --- SCSS For Table --- */
/* --- SCSS For Tabs --- */
/* variables for tab style1 using as base of tab */
/* tab style version 5 */
/* tab style version 6 */
/* --- SCSS For Testimonials --- */
/* testimonials default */
/* testimonials-v1 */
/* testimonials light */
/* --- SCSS For Typography --- */
/**
 *   Blocks Layout Selectors
 */
/********* LAYOUT **************/
.widget.widget_product_categories ul li,
.widget.widget_categories ul li,
.widget.widget_layered_nav ul li,
.widget.widget_layered_nav_filters ul li,
.widget_nav_menu ul li {
  border-bottom: 1px solid #ededed;
  padding: 10px 0;
}
.widget.widget_product_categories ul li:last-child,
.widget.widget_categories ul li:last-child,
.widget.widget_layered_nav ul li:last-child,
.widget.widget_layered_nav_filters ul li:last-child,
.widget_nav_menu ul li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

/*------------------------------------*\
    Widget Price Filter
\*------------------------------------*/
.widget_price_filter .price_slider_wrapper {
  padding-top: 20px;
}
.widget_price_filter .ui-slider .ui-slider-handle {
  background-color: #e43636 !important;
}
.widget_price_filter .price_slider_wrapper .ui-widget-content {
  margin-bottom: 30px;
  background-color: #ededed !important;
}
.widget_price_filter .ui-slider-horizontal .ui-slider-range {
  background: #000 !important;
}
.widget_price_filter .price_slider_amount .button {
  padding: 12px 18px;
}

/*------------------------------------*\
    Product List Widget
\*------------------------------------*/
.woocommerce ul.product_list_widget {
  padding: 0;
  list-style: none;
}
.woocommerce ul.product_list_widget li .review,
.woocommerce ul.product_list_widget .widget-product .review {
  clear: left;
}
.rtl .woocommerce ul.product_list_widget li .review, .rtl
.woocommerce ul.product_list_widget .widget-product .review {
  clear: right;
}
.woocommerce ul.product_list_widget li .price del,
.woocommerce ul.product_list_widget .widget-product .price del {
  font-size: 14px;
  color: #e43636;
}
.woocommerce ul.product_list_widget li .price ins,
.woocommerce ul.product_list_widget .widget-product .price ins {
  color: #666666;
  font-size: 12px;
  text-decoration: none;
}
.woocommerce ul.product_list_widget li img,
.woocommerce ul.product_list_widget .widget-product img {
  width: 82px;
  float: left;
  margin-left: 0;
}
.rtl .woocommerce ul.product_list_widget li img, .rtl
.woocommerce ul.product_list_widget .widget-product img {
  float: right;
}
.rtl .woocommerce ul.product_list_widget li img, .rtl
.woocommerce ul.product_list_widget .widget-product img {
  margin-right: 0;
  margin-left: inherit;
}
.woocommerce ul.product_list_widget li .rating,
.woocommerce ul.product_list_widget .widget-product .rating {
  margin-bottom: 8px;
}
.woocommerce ul.product_list_widget li .star-rating,
.woocommerce ul.product_list_widget .widget-product .star-rating {
  margin: 0;
}
.woocommerce ul.product_list_widget li .name,
.woocommerce ul.product_list_widget .widget-product .name {
  font-weight: 400;
  margin-top: 0;
  text-transform: none;
  height: 42px;
  overflow: hidden;
  line-height: 20px;
}
.woocommerce ul.product_list_widget li span.amount,
.woocommerce ul.product_list_widget .widget-product span.amount {
  color: #e43636;
}
.woocommerce ul.product_list_widget li a,
.woocommerce ul.product_list_widget .widget-product a {
  font-weight: normal;
}

/**
 * Styling special product block.
 */
.products.related, .products.upsells {
  margin-bottom: 20px !important;
  position: relative;
  padding: 0px;
  background: transparent;
  border-width: 0px;
  border-style: solid;
}

.products.related h2, .product > #reviews > h3, .products.upsells h2 {
  color: #000000;
  padding: 20px 0;
  margin: 0 0 10px;
  text-transform: none;
  font-size: 30px;
  position: relative;
  text-align: center;
  letter-spacing: 2px;
  z-index: 10;
  line-height: 1.1;
  text-align: left;
  border-bottom: solid 1px #ededed;
}
.products.related h2 > span, .product > #reviews > h3 > span, .products.upsells h2 > span {
  padding: 0 25px;
  display: inline-block;
}

.products.related h2, .product.upsell h2 {
  border-bottom: solid 1px #000;
}

.product > #reviews {
  border: solid 1px #ededed;
  margin-bottom: 20px;
}

/**
 * Deal Modules
 */
.woo-deals .caption {
  padding: 5px 20px 20px !important;
}
.woo-deals .carousel-inner {
  overflow: visible;
}
.woo-deals .description {
  margin-bottom: 10px;
  font-size: 13px;
}
.woo-deals .pts-countdown {
  padding: 5px 0;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
}
.woo-deals .deals-information {
  margin-bottom: 20px;
}
.woo-deals .rating > * {
  float: none;
}
.woo-deals .countdown-times {
  overflow: hidden;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.woo-deals .countdown-times > div {
  text-align: center;
  float: left;
  margin-right: 5%;
  width: 20%;
}
.rtl .woo-deals .countdown-times > div {
  float: right;
}
.rtl .woo-deals .countdown-times > div {
  margin-left: 5%;
  margin-right: inherit;
}
.woo-deals .countdown-times > div > b {
  display: block;
  font-size: 14px;
  font-weight: 900;
  color: #e43636;
}
.woo-deals .countdown-times > div:last-child {
  padding-right: 0;
  float: right;
}
.rtl .woo-deals .countdown-times > div:last-child {
  padding-left: 0;
  padding-right: inherit;
}
.rtl .woo-deals .countdown-times > div:last-child {
  float: left;
}
.woo-deals .cart {
  left: 0;
  position: absolute;
  right: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate(0px, 60px);
  -ms-transform: translate(0px, 60px);
  -o-transform: translate(0px, 60px);
  transform: translate(0px, 60px);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  visibility: hidden;
}
.woo-deals .cart .add_to_cart_button {
  color: #000000;
  background: #fff;
  font-weight: 900;
}
.woo-deals .cart .add_to_cart_button.added {
  display: none;
}
.woo-deals .cart .add_to_cart_button:hover, .woo-deals .cart .add_to_cart_button:active, .woo-deals .cart .add_to_cart_button:focus {
  color: #fff;
  background: #e43636;
}
.woo-deals .cart .wc-forward {
  margin: 0 auto;
}
.woo-deals:hover .cart {
  -webkit-transform: translate(0px, 30px);
  -ms-transform: translate(0px, 30px);
  -o-transform: translate(0px, 30px);
  transform: translate(0px, 30px);
  visibility: visible;
  opacity: 1;
  filter: alpha(opacity=100);
}

/**
 * Widget Products Categories Menu 
 */
ul.product-categories {
  padding-left: 0;
  list-style: none;
}
.rtl ul.product-categories {
  padding-right: 0;
  padding-left: inherit;
}
ul.product-categories li.cat-parent .children {
  margin-top: 5px;
}
ul.product-categories li.current-cat > a, ul.product-categories li.current-cat-parent > a {
  color: #e43636;
}
ul.product-categories li ul li {
  padding: 0 0 0 20px;
}
.rtl ul.product-categories li ul li {
  padding: 0 20px 0 0;
}
ul.product-categories li {
  position: relative;
}
ul.product-categories li .closed, ul.product-categories li .opened {
  position: absolute;
  right: 15px;
  top: 17px;
  content: "";
  font-size: 10px;
  color: #aaa;
  cursor: pointer;
}
.rtl ul.product-categories li .closed, .rtl ul.product-categories li .opened {
  left: 15px;
  right: auto;
}
ul.product-categories li .closed:hover, ul.product-categories li .opened:hover {
  color: #e43636;
}
ul.product-categories li a {
  color: #000;
}
ul.product-categories li a:hover {
  -webkit-transition: all 0.05s ease 0s;
  -o-transition: all 0.05s ease 0s;
  transition: all 0.05s ease 0s;
  color: #e43636;
}
ul.product-categories li li:before {
  position: absolute;
  left: 30px;
  content: "\f0da";
  font-family: "FontAwesome";
  color: #e43636;
  display: inline-block;
  font-size: 11px;
  line-height: 22px;
  top: 7px;
}
.rtl ul.product-categories li li:before {
  right: 30px;
  left: auto;
}
ul.product-categories li li a {
  color: #999999;
  font-size: 12px;
}
ul.product-categories li li a:hover {
  color: #e43636;
}

/*
**  pbr category list
*/
.pbr-category-list #pbr-accordion-categories .category-title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 17px 15px;
  padding-right: 20px;
  padding-left: 30px;
  width: 100%;
  background: url(../images/list-style.png) no-repeat 15px 25px transparent;
}
.rtl .pbr-category-list #pbr-accordion-categories .category-title {
  padding-left: 20px;
  padding-right: inherit;
}
.rtl .pbr-category-list #pbr-accordion-categories .category-title {
  padding-right: 30px;
  padding-left: inherit;
}
.pbr-category-list #pbr-accordion-categories .category-title a {
  text-transform: uppercase;
  font-size: 12px;
}
.pbr-category-list #pbr-accordion-categories .category-title a:hover {
  color: #e43636;
}
.pbr-category-list #pbr-accordion-categories .category-title a.dropdown {
  float: right;
  margin-left: 10px;
}
.rtl .pbr-category-list #pbr-accordion-categories .category-title a.dropdown {
  float: left;
}
.rtl .pbr-category-list #pbr-accordion-categories .category-title a.dropdown {
  margin-right: 10px;
  margin-left: inherit;
}
.pbr-category-list #pbr-accordion-categories .category-title .total-product {
  display: inline-block;
}
.pbr-category-list #pbr-accordion-categories .panel-collapse .category-title {
  padding-top: 0;
  padding-bottom: 0;
  border: none;
  background-position: 12px 12px;
}
.pbr-category-list #pbr-accordion-categories .panel-collapse .category-title a {
  font-size: 11px;
}

/*------------------------------------*\
    Cart
\*------------------------------------*/
.cart_list > div {
  margin: 10px 0;
  padding: 10px 0;
  position: relative;
}
.cart_list .name {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  text-transform: none;
  margin-top: 0;
  font-family: "Poppins", sans-serif;
}
.cart_list .image {
  width: 82px;
  height: 82px;
}
.cart_list .cart-item {
  line-height: 1.1;
  margin: 0;
  font-size: 14px;
}
.cart_list .cart-item .amount {
  font-size: 14px;
  color: #e43636;
}
.cart_list .cart-main-content {
  text-align: left;
}
.rtl .cart_list .cart-main-content {
  text-align: right;
}
.cart_list .cart-main-content .remove {
  position: absolute;
  right: 0;
  top: 10px;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 18px;
  /* 9 */
  font-size: 1.8rem;
  /* 9 */
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}
.rtl .cart_list .cart-main-content .remove {
  left: 0;
  right: auto;
}
.cart_list + .total {
  text-align: right;
  margin-top: 10px;
  padding: 0 15px;
}
.rtl .cart_list + .total {
  text-align: left;
}
.cart_list + .total .amount {
  font-size: 15px;
  color: #e43636;
  font-weight: 600;
}

.widget_shopping_cart .widget_shopping_cart_content .buttons {
  padding: 20px 15px;
  overflow: hidden;
}

/** widget-timing-deal  */
.widget-timing-deal {
  background-image: url("../images/dont-miss.png");
  background-repeat: no-repeat;
  background-position: left top;
}
.widget-timing-deal .owl-controls {
  display: none !important;
}
.widget-timing-deal .widget-heading {
  padding: 20px 5px 10px 35px;
}
.widget-timing-deal .widget-heading h3 {
  font-size: 30px;
  margin: 0;
}
.widget-timing-deal .widget-heading h3 span {
  color: #000000;
}
.widget-timing-deal .widget-heading p {
  margin-bottom: 0;
}
.widget-timing-deal .woo-products-deals {
  border: 1px solid #ededed;
  position: relative;
  padding-right: 0;
  padding-left: 0;
}
@media (min-width: 991px) {
  .widget-timing-deal .woo-products-deals:before {
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 8px solid #e43636;
    content: "";
    position: absolute;
    left: -1px;
    top: 45%;
    z-index: 3;
  }
  .rtl .widget-timing-deal .woo-products-deals:before {
    border-right: 8px solid #e43636;
    border-left: inherit;
  }
  .rtl .widget-timing-deal .woo-products-deals:before {
    right: -1px;
    left: auto;
  }
}
.widget-timing-deal .woo-products-deals .product-deal {
  padding: 10px;
  text-align: center;
  min-height: 150px;
  margin-bottom: 0;
}
.widget-timing-deal .product-deal .onsale {
  display: none;
}
.widget-timing-deal .product-deal .image .product-image {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: all 0.6s ease-out 0s;
  -o-transition: all 0.6s ease-out 0s;
  transition: all 0.6s ease-out 0s;
}
.widget-timing-deal .product-deal .image:hover .product-image {
  opacity: 0.25;
  filter: alpha(opacity=25);
  -webkit-transition: all 0.6s ease-out 0s;
  -o-transition: all 0.6s ease-out 0s;
  transition: all 0.6s ease-out 0s;
}
.widget-timing-deal .product-deal .image .button-action {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.6s ease-out 0s;
  -o-transition: all 0.6s ease-out 0s;
  transition: all 0.6s ease-out 0s;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  content: "";
  width: 100%;
  height: 85px;
}
.widget-timing-deal .product-deal .image:hover .button-action {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.6s ease-out 0s;
  -o-transition: all 0.6s ease-out 0s;
  transition: all 0.6s ease-out 0s;
  background-color: transparent;
}
.widget-timing-deal .countdown-times > div {
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  position: relative;
  font-size: 12px;
  text-align: left;
}
.rtl .widget-timing-deal .countdown-times > div {
  text-align: right;
}
.widget-timing-deal .countdown-times > div:before {
  content: ":";
  position: absolute;
  right: 0;
  top: 10px;
}
.rtl .widget-timing-deal .countdown-times > div:before {
  left: 0;
  right: auto;
}
.widget-timing-deal .countdown-times > div > b {
  display: block;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}
.widget-timing-deal .countdown-times > div:last-child:before {
  content: "";
}

/** widget-products-collection  */
.widget-products-collection .main-posts .product-block:hover {
  box-shadow: none;
}
.widget-products-collection .main-posts .product-block:hover .action-bottom {
  box-shadow: none;
}
.widget-products-collection .main-posts .product-block .action-bottom {
  display: none;
}
.widget-products-collection .main-posts .product-block .caption-list {
  padding: 0 10px;
}
.widget-products-collection .main-posts .product-block .caption-list .name {
  font-size: 24px;
  padding: 0;
}
.widget-products-collection .main-posts .product-block .caption-list .name a {
  color: #000;
}
.widget-products-collection .main-posts .product-block .caption-list p {
  height: 90px;
  min-height: 90px;
  overflow: hidden;
}
.widget-products-collection .main-posts .product-block .caption-list .price {
  margin-bottom: 20px;
  margin-top: 30px;
  display: block;
}
.widget-products-collection .main-posts .product-block .caption-list .price > del {
  font-size: 24px;
  text-decoration: none;
  position: relative;
  padding-right: 15px;
  color: #e43636;
}
.rtl .widget-products-collection .main-posts .product-block .caption-list .price > del {
  padding-left: 15px;
  padding-right: inherit;
}
.widget-products-collection .main-posts .product-block .caption-list .price > del:after {
  background-color: #ededed;
  content: "";
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  width: 40px;
}
.widget-products-collection .main-posts .product-block .caption-list .price > del:after {
  top: 45px;
}
.widget-products-collection .main-posts .product-block .caption-list .price > ins {
  font-size: 14px;
  text-decoration: line-through;
  color: #666666;
}
.widget-products-collection .main-posts .product-block .caption-list .add_to_cart_button {
  padding: 0;
  text-align: left;
}
.rtl .widget-products-collection .main-posts .product-block .caption-list .add_to_cart_button {
  text-align: right;
}

/** widget-productcategory  */
.pbr-productcategory .padding-wrap {
  padding: 20px 10px 0;
}
.pbr-productcategory .owl-item {
  padding: 0 10px;
}

.popupnewsletter .modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
@media screen and (min-width: 992px) {
  .popupnewsletter .modal-body {
    width: 52%;
    margin: 60px 30px;
  }
}
.popupnewsletter .modal-body h3 {
  color: #fff;
  position: relative;
  margin-bottom: 30px;
}
.popupnewsletter .modal-body h3:after {
  color: #757575;
  content: ". . .";
  font-size: 20px;
  left: 0;
  position: absolute;
  right: 0;
  top: 28px;
}
.popupnewsletter .modal-body h4 {
  color: #000;
  text-transform: none;
}
.popupnewsletter .modal-body .description {
  color: #fff;
  margin-bottom: 25px;
}
@media screen and (min-width: 992px) {
  .popupnewsletter .modal-dialog {
    width: 800px;
  }
}
@media screen and (max-width: 599px) {
  .popupnewsletter .modal-dialog {
    width: 100%;
  }
}
.popupnewsletter .modal-content {
  background-image: url("../images/bg_popup_newsletter.jpg");
  background-color: #e2ddda;
  background-position: right bottom;
  background-repeat: no-repeat;
  height: auto !important;
  margin: 0;
  padding: 0;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .popupnewsletter .modal-content {
    width: 800px;
  }
}
@media screen and (max-width: 992px) {
  .popupnewsletter .modal-content {
    width: 100%;
  }
}
.popupnewsletter .modal-content .close {
  border: none;
  background: #000;
  color: #FFF;
  padding: 0 10px;
  position: absolute;
  top: -15px;
  right: 0;
}
.rtl .popupnewsletter .modal-content .close {
  left: 0;
  right: auto;
}

.widget_strollik_accessories {
  border-top: 1px solid #ededed;
  margin-top: 60px;
}
.widget_strollik_accessories .products-grid div.product .product-block {
  margin-bottom: 0;
}

.woocommerce-product-search input.search-field {
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555555;
  font-size: 14px;
  height: 46px;
  line-height: 1.62857;
  padding: 9px 20px;
}
.woocommerce-product-search input[type="submit"] {
  background-color: #e43636;
  height: 46px;
  color: #fff;
  border: 1px solid #e43636;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 12px;
}

/*------------------------------------*\
    Mini Cart
\*------------------------------------*/
.pbr-topcart .dropdown.open .mini-cart:before {
  content: "";
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
}
.rtl .pbr-topcart .dropdown.open .mini-cart:before {
  right: 0;
  left: auto;
}
.pbr-topcart .dropdown-menu {
  top: 50px;
  padding: 20px;
  min-width: 320px;
  display: block;
  visibility: hidden;
  text-align: left;
  left: auto;
  right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
  -o-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
  transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
}
.rtl .pbr-topcart .dropdown-menu {
  text-align: right;
}
.rtl .pbr-topcart .dropdown-menu {
  right: auto;
  left: auto;
}
.rtl .pbr-topcart .dropdown-menu {
  left: 0;
  right: auto;
}
.pbr-topcart .dropdown-menu:before, .pbr-topcart .dropdown-menu:after {
  content: "";
  display: inline-block;
  *display: inline;
  zoom: 1;
  position: absolute;
  left: 100%;
  margin-left: -26%;
}
.rtl .pbr-topcart .dropdown-menu:before, .rtl .pbr-topcart .dropdown-menu:after {
  right: 100%;
  left: auto;
}
.rtl .pbr-topcart .dropdown-menu:before, .rtl .pbr-topcart .dropdown-menu:after {
  margin-right: -26%;
  margin-left: inherit;
}
.pbr-topcart .dropdown-menu:before {
  top: -11px;
  border-bottom: 11px solid rgba(0, 0, 0, 0.2);
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
}
.pbr-topcart .dropdown-menu:after {
  top: -10px;
  border-bottom: 11px solid #FFF;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
}
.pbr-topcart .dropdown-menu .quantity {
  font-size: 14px;
}
.pbr-topcart .media {
  border-bottom: solid 1px #ededed;
}
.pbr-topcart .name {
  font-size: 12px;
}
.pbr-topcart .name a {
  color: #000 !important;
}
.pbr-topcart .name a:hover {
  color: #e43636 !important;
}
.pbr-topcart .open .dropdown-menu {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform-origin: 29px -50px;
  -moz-transform-origin: 29px -50px;
  -ms-transform-origin: 29px -50px;
  transform-origin: 29px -50px;
  filter: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  visibility: visible;
  z-index: 99999;
}
.pbr-topcart .total {
  padding-top: 20px;
  padding-bottom: 10px;
}
.pbr-topcart .buttons {
  margin-bottom: 0;
  padding: 15px 30px;
  margin-right: -20px;
  margin-left: -20px;
}

#cart .mini-cart > * {
  text-transform: uppercase;
  font-weight: 300;
}
#cart .mini-cart .title-cart {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 11px;
  /* 9 */
  font-size: 1.1rem;
  /* 9 */
  font-weight: 400;
  line-height: 24px;
}
#cart .cart-icon {
  text-transform: uppercase;
}
#cart .title-cart, #cart .dropdown-toggle .amount, #cart .mini-cart-items em {
  display: none;
}
#cart .mini-cart-items {
  display: block;
  top: 0;
  right: 0;
  position: absolute;
  color: #FFF;
  font-size: 10px;
  padding: 0 6px;
  z-index: 3;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0.4);
  line-height: 24px;
  text-align: center;
  width: 24px;
  height: 24px;
}
.rtl #cart .mini-cart-items {
  left: 0;
  right: auto;
}
#cart .cart-icon {
  display: inline-block;
  padding: 7px 10px 0 0;
}
.rtl #cart .cart-icon {
  padding: 7px 0 0 10px;
}
#cart .cart-icon i {
  display: block;
  float: left;
  background: url("../images/cart-bg.png") no-repeat center top transparent;
  width: 24px;
  height: 24px;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
}
.rtl #cart .cart-icon i {
  float: right;
}
#cart.version-2 {
  background-color: #e43636;
  padding: 11px 15px;
}
#cart.version-2 .cart-icon {
  padding: 0 10px 0 0;
  display: inline;
}
.rtl #cart.version-2 .cart-icon {
  padding: 0 0 0 10px;
}
#cart.version-2 .cart-icon i {
  background: transparent;
  color: #fff;
  line-height: 22px;
  text-align: center;
}
#cart.version-2 .title-cart {
  display: inline-block;
  color: #fff;
  margin-right: 10px;
}
.rtl #cart.version-2 .title-cart {
  margin-left: 10px;
  margin-right: inherit;
}
#cart.version-2 .mini-cart-items {
  position: inherit;
  display: inline-block;
  z-index: 3;
}
#cart.version-4 .cart-icon i {
  background: url("../images/cart-v4.png") no-repeat center top transparent;
}

.woocommerce .product.first {
  clear: both;
}

.widget-products .owl-controls {
  display: none !important;
}

.widget-products-bg {
  margin: 0 -10px;
}
.widget-products-bg .owl-item {
  padding: 0 10px;
}
.widget-products-bg .product-block .caption::before {
  content: none;
}

.productinfo-show-discounts {
  font-size: 12px;
  margin: 20px 0 !important;
  padding-left: 75px;
  position: relative;
  color: #666;
  padding: 0;
  margin-bottom: 22px;
  border-radius: 0px;
  overflow: hidden;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}
.rtl .productinfo-show-discounts {
  padding-right: 75px;
  padding-left: inherit;
}
.productinfo-show-discounts:before {
  background: url("../images/icon-show-discounts.png") no-repeat center center #70ba28;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  left: 20px;
  top: 20px;
  content: "";
}
.rtl .productinfo-show-discounts:before {
  right: 20px;
  left: auto;
}
.productinfo-show-discounts hr {
  border-top-color: #c9e2b3;
}
.productinfo-show-discounts .alert-link {
  color: #2b542c;
}
.productinfo-show-discounts ul {
  list-style: none;
  margin-left: 40px;
  padding: 15px 30px;
}
.rtl .productinfo-show-discounts ul {
  margin-right: 40px;
  margin-left: inherit;
}
.productinfo-show-discounts ul li {
  padding: 3px 0;
}
.productinfo-show-discounts ul li:before {
  content: "\f14a";
  font-family: "FontAwesome";
  color: #70ba28;
  padding-right: 8px;
}
.rtl .productinfo-show-discounts ul li:before {
  padding-left: 8px;
  padding-right: inherit;
}

#reviews {
  margin-bottom: 0;
}
#reviews .reviews-summary {
  padding: 0 80px;
}
#reviews .reviews-summary h5 {
  font-size: 12px;
  margin-bottom: 20px;
}
#reviews .reviews-summary .review-summary-total {
  text-align: center;
  font-weight: 400;
  margin-right: 50px;
  padding-right: 50px;
  border-right: 1px solid #ededed;
}
.rtl #reviews .reviews-summary .review-summary-total {
  margin-left: 50px;
  margin-right: inherit;
}
.rtl #reviews .reviews-summary .review-summary-total {
  padding-left: 50px;
  padding-right: inherit;
}
.rtl #reviews .reviews-summary .review-summary-total {
  border-left: 1px solid #ededed;
  border-right: inherit;
}
#reviews .reviews-summary .review-summary-total .review-summary-result {
  text-align: center;
  color: #e43636;
  font-size: 48px;
}
#reviews .reviews-summary .review-summary-detal {
  overflow: hidden;
  display: block;
  margin-top: 0px;
}
#reviews .reviews-summary .review-summary-detal .review-label {
  color: #000;
  font-weight: 400;
  min-width: 60px;
}
#reviews .comments {
  border-top: 1px solid #ededed;
  padding: 40px 0;
  margin-top: 40px;
}
#reviews .comments .commentlist {
  margin: 15px 0;
}
#reviews .comments .commentlist .comment {
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ededed;
}
#reviews .comments .commentlist .comment:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
#reviews .comments .commentlist .pbr-avata {
  width: 100px;
}
#reviews .comments .commentlist .pbr-avata > div {
  display: inline-block;
}
#reviews .comments .commentlist .pbr-avata .pbr-image .avatar {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
}
#reviews .comments .commentlist .pbr-avata .pbr-author {
  color: #000;
  font-weight: 900;
  padding-top: 10px;
  text-transform: capitalize;
}
#reviews .comments .commentlist .comment-text {
  padding: 0 20px;
}
#reviews .comments .commentlist .comment-text .meta {
  color: #bbb;
  font-size: 12px;
}
#reviews .comments .commentlist .comment-text > div {
  margin-bottom: 7px;
  float: left;
}
.rtl #reviews .comments .commentlist .comment-text > div {
  float: right;
}
#reviews .comments .commentlist .comment-text .star-rating {
  margin-bottom: 15px;
}
#reviews .review_form_wrapper {
  border-top: 1px solid #ededed;
  padding: 40px 0  0;
}
#reviews .progress {
  margin-bottom: 12px;
  background-color: #f2f2f2;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 18px;
}
#reviews .progress .progress-bar {
  color: #aaa;
}
#reviews .progress .progress-bar.progress-bared {
  color: #fff;
}
#reviews #reply-title {
  margin-bottom: 20px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

/**
 * Product Single Page
 */
.product-block {
  display: block;
  position: relative;
  -webkit-transition: all 400ms ease 0s;
  -o-transition: all 400ms ease 0s;
  transition: all 400ms ease 0s;
  z-index: 0;
}
@media (max-width: 480px) {
  .product-block {
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .product-block {
    margin-bottom: 30px;
  }
}
.product-block span.onsale {
  top: inherit;
  right: 0;
  left: 0;
  bottom: -15px;
  margin: 0 auto;
}
.product-block .sale-off {
  position: absolute;
  width: 36px;
  height: 36px;
  background-color: #fb4949;
  color: #fff;
  top: 0;
  right: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  line-height: 36px;
  font-size: 12px;
  font-weight: 400;
}
.rtl .product-block .sale-off {
  left: 0;
  right: auto;
}
.product-block .image {
  position: relative;
}
.product-block .image img {
  height: auto;
  width: 100%;
}
.product-block .image a, .product-block .image .product-image {
  display: block;
  overflow: hidden;
  position: relative;
}
.product-block .image .image-effect {
  top: 0;
  position: absolute;
  overflow: hidden;
  left: 0;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate(-100%, 0px);
  -ms-transform: translate(-100%, 0px);
  -o-transform: translate(-100%, 0px);
  transform: translate(-100%, 0px);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.rtl .product-block .image .image-effect {
  right: 0;
  left: auto;
}
.product-block .image .image-hover {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.product-block .image:hover .image-effect {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}
.product-block .image:hover .image-hover {
  -webkit-transform: translate(100%, 0px);
  -ms-transform: translate(100%, 0px);
  -o-transform: translate(100%, 0px);
  transform: translate(100%, 0px);
}
.product-block .caption {
  text-align: center;
  position: relative;
}
.product-block .price > * {
  width: auto;
  display: inline-block;
  display: block;
  text-align: center;
  position: relative;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 24px;
  /* 9 */
  font-size: 2.4rem;
  /* 9 */
  font-weight: 700;
  color: #e43636;
  display: inline-block;
}
.product-block .price > ins {
  text-decoration: none;
}
.product-block .price > del {
  color: #666666;
  font-size: 16px;
  text-decoration: line-through;
  font-weight: 300;
}
.product-block .name {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 18px;
  /* 9 */
  font-size: 1.8rem;
  /* 9 */
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: -1px;
}
.product-block .model {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.product-block .category {
  text-transform: none;
  font-weight: 300;
  font-style: italic;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 12px;
  /* 9 */
  font-size: 1.2rem;
  /* 9 */
}
.product-block .category a {
  color: #999999;
}
.product-block .category a:hover {
  color: #e43636;
}
.product-block .price {
  margin-top: 20px;
  display: inline-block;
}
.product-block .add_to_cart_button {
  position: relative;
  margin-top: 35px;
}
.product-block .add_to_cart_button.loading .title-cart {
  visibility: hidden;
}
.product-block .add_to_cart_button.loading .title-cart:after {
  visibility: visible;
  content: "Loading..";
  position: absolute;
  top: 15px;
  left: 5px;
  width: 100%;
  text-align: center;
}
.product-block .added_to_cart {
  display: none !important;
}
.product-block:hover .button-action > div {
  opacity: 1;
  filter: alpha(opacity=100);
  transform: translate3d(0px, 0px, 0px);
}
.product-block:hover .caption:before {
  content: none;
}

.button-action {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  height: 45px;
  z-index: 999;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  width: 100%;
}
@media (max-width: 768px) {
  .button-action {
    display: none;
  }
}
.button-action > div {
  display: inline-block;
  text-align: center;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  -webkit-transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
  -o-transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
  transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
}
@media (min-width: 991px) {
  .button-action > div {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(0px, 30px, 0px);
    transform: translate3d(0px, 30px, 0px);
  }
}
.button-action > div.yith-compare .compare.added {
  overflow: hidden;
  color: transparent !important;
}
.button-action > div.yith-compare .compare.added:before {
  content: "\f0ec";
  font-family: 'FontAwesome';
  position: absolute;
  color: #FFF !important;
  width: 35px;
  height: 35px;
}
.button-action > div .title {
  display: none;
}
.button-action > div a {
  text-align: center !important;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
  float: left;
  text-align: center;
  overflow: hidden;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  line-height: 40px;
  background-color: rgba(228, 54, 54, 0.6);
  color: #fff;
}
.rtl .button-action > div a {
  float: right;
}
.button-action > div a:hover {
  background-color: #e43636;
}
.button-action > div a.add_to_wishlist {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  padding: 0;
}
.button-action > div a.compare {
  margin-left: -4px;
}
.rtl .button-action > div a.compare {
  margin-right: -4px;
  margin-left: inherit;
}

div[class*="add-to-wishlist"] {
  margin-top: 0;
  position: relative;
}
div[class*="add-to-wishlist"] .ajax-loading {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.yith-wcwl-add-to-wishlist {
  margin-top: 0;
}

/**
 * Products Listing In Grid Style
 */
.products-grid div.product {
  position: relative;
}
.products-grid div.product .product-block {
  margin-bottom: 60px;
}
.products-grid div.product .product-block .name {
  margin-top: 35px;
}
.products-grid div.product .product-block .image {
  border-bottom: 1px solid #ededed;
  margin-bottom: 30px;
}
.products-grid div.product .product-block .rating {
  text-align: center;
  display: none;
}
.products-grid div.product .product-block .rating .star-rating {
  display: inline-block;
  float: none;
}
.products-grid div.product .product-block .button-action > div.yith-wcwl-add-to-wishlist a i {
  margin-right: 0 !important;
}
.rtl .products-grid div.product .product-block .button-action > div.yith-wcwl-add-to-wishlist a i {
  margin-left: 0 !important;
  margin-right: inherit;
}
.products-grid div.product .product-block .button-action > div.yith-wcwl-add-to-wishlist a span {
  display: none;
}
.products-grid div.product .product-block .button-action .yith-wcwl-wishlistaddedbrowse .feedback,
.products-grid div.product .product-block .button-action .yith-wcwl-wishlistexistsbrowse .feedback {
  overflow: hidden;
  color: transparent;
  width: 40px;
  height: 40px;
  text-indent: -999px;
  background-color: #e43636;
  display: block;
  position: relative;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.products-grid div.product .product-block .button-action .yith-wcwl-wishlistaddedbrowse .feedback:before,
.products-grid div.product .product-block .button-action .yith-wcwl-wishlistexistsbrowse .feedback:before {
  content: "\f08a";
  font-family: FontAwesome;
  position: absolute;
  color: #fff;
  line-height: 40px;
  text-indent: 0px;
  left: 50%;
  margin-left: -7px;
}
.products-grid div.product .product-block .button-action .yith-wcwl-wishlistaddedbrowse a,
.products-grid div.product .product-block .button-action .yith-wcwl-wishlistexistsbrowse a {
  display: none !important;
}
.products-grid div.product .product-block .button-action .quick-view .quickview span {
  display: none;
}

.products-list .rating:before, .products-list .rating:after {
  content: " ";
  display: table;
}
.products-list .rating:after {
  clear: both;
}
.products-list .rating .star-rating {
  float: right;
}
.rtl .products-list .rating .star-rating {
  float: left;
}
.products-list .clear {
  display: none;
}
.products-list .product-block {
  border-bottom: solid 1px #ededed;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.products-list .product-block .name {
  padding: 0;
  font-weight: bold;
}
.products-list .product-block .product-assets {
  text-align: right;
}
.rtl .products-list .product-block .product-assets {
  text-align: left;
}
.products-list .product-block .yith-wcwl-wishlistaddedbrowse a,
.products-list .product-block .yith-wcwl-wishlistaddedbrowse a.add_to_wishlist,
.products-list .product-block .yith-wcwl-add-button a,
.products-list .product-block .yith-wcwl-add-button a.add_to_wishlist,
.products-list .product-block .yith-wcwl-wishlistexistsbrowse a,
.products-list .product-block .yith-wcwl-wishlistexistsbrowse a.add_to_wishlist {
  color: #666;
  font-weight: 400;
  line-height: 30px;
}
.products-list .product-block .yith-wcwl-wishlistaddedbrowse a:hover,
.products-list .product-block .yith-wcwl-wishlistaddedbrowse a.add_to_wishlist:hover,
.products-list .product-block .yith-wcwl-add-button a:hover,
.products-list .product-block .yith-wcwl-add-button a.add_to_wishlist:hover,
.products-list .product-block .yith-wcwl-wishlistexistsbrowse a:hover,
.products-list .product-block .yith-wcwl-wishlistexistsbrowse a.add_to_wishlist:hover {
  color: #e43636;
}
.products-list .product-block .yith-wcwl-wishlistexistsbrowse a {
  display: none;
}
.products-list .product-block a.compare, .products-list .product-block a.quickview {
  color: #666;
  font-weight: 400;
  line-height: 30px;
}
.products-list .product-block a.compare:hover, .products-list .product-block a.quickview:hover {
  color: #e43636;
}
.products-list .product-block a.compare.added, .products-list .product-block a.quickview.added {
  color: #e43636;
}
.products-list .product-block:hover {
  box-shadow: none;
}
.products-list .type-product:last-child .product-block {
  border-bottom: none;
}

ul.pbr-w-products-list {
  padding: 0;
  margin: 0 !important;
}
ul.pbr-w-products-list .product-block img {
  max-width: 90px;
  margin-right: 15px;
}
.rtl ul.pbr-w-products-list .product-block img {
  margin-left: 15px;
  margin-right: inherit;
}

.woocommerce .product span.onsale,
.products span.onsale {
  min-width: auto;
  max-height: auto;
  background-color: #f0c73b;
  color: #FFF;
  font-size: 14px;
  z-index: 100;
  min-height: 30px;
  line-height: 30px;
  padding: 0 15px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  font-weight: 400;
  max-width: 135px;
  height: 30px;
  bottom: -15px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: inherit;
}
.woocommerce .product .star-rating,
.products .star-rating {
  font-size: 10px;
  float: left;
}
.rtl .woocommerce .product .star-rating, .rtl
.products .star-rating {
  float: right;
}
.woocommerce .product .star-rating:before,
.products .star-rating:before {
  content: "\53\53\53\53\53";
  color: #d5d5d5;
}
.woocommerce .product .star-rating span:before,
.products .star-rating span:before {
  content: "\53\53\53\53\53";
  color: #f0c73b;
}

/**
 * Single product
 */
/*------------------------------------*\
    Quantity inputs
\*------------------------------------*/
.quantity {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  zoom: 1;
  float: left;
}
.quantity span {
  font-size: 16px;
  margin-right: 5px;
}
.rtl .quantity span {
  margin-left: 5px;
  margin-right: inherit;
}
.rtl .quantity {
  float: right;
}
.quantity input.qty {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  padding: 5px;
  width: 45px;
  height: 35px;
  color: #000;
  font-weight: 400;
  border: 1px solid #e5e5e5;
}
.quantity input.qty:focus:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.quantity .plus, .quantity .minus {
  background: #FFF;
  float: right;
  clear: right;
  display: block;
  padding: 0;
  margin: 0;
  vertical-align: text-top;
  text-decoration: none;
  overflow: visible;
  text-decoration: none;
  cursor: pointer;
  line-height: 13px;
  font-size: 12px;
  color: #666666;
  border: 1px solid #ededed;
  text-align: center;
  width: 25px;
  height: 19px;
}
.rtl .quantity .plus, .rtl .quantity .minus {
  float: left;
}
.rtl .quantity .plus, .rtl .quantity .minus {
  clear: left;
}
.quantity .plus {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  right: 0;
}
.rtl .quantity .plus {
  left: 0;
  right: auto;
}
.quantity .minus {
  bottom: 0;
  right: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.rtl .quantity .minus {
  left: 0;
  right: auto;
}

/* Single > Meta */
.product_meta {
  clear: both;
  margin-top: 20px;
  padding: 15px 0 5px;
  border-top: 1px solid #ededed;
}
.product_meta a {
  color: #a0a0a0;
}
.product_meta a:hover {
  color: #e43636;
  text-decoration: none;
}
.product_meta > span {
  display: block;
  color: #000;
}
.product_meta > div {
  margin-bottom: 10px;
}
.product_meta .posted_in, .product_meta .tagged_as {
  font-weight: bold;
  font-weight: 600;
}
.product_meta .posted_in a, .product_meta .tagged_as a {
  font-weight: 400;
}

.sku_wrapper {
  font-weight: bold;
  font-weight: 600;
}

.sku_wrapper span {
  display: inline;
  font-weight: 400;
  color: #a0a0a0;
}

.single-product.woocommerce div.product span.onsale {
  display: none;
}
.single-product.woocommerce div.product .products span.onsale {
  display: block;
}
.single-product.woocommerce div.product div.images img {
  width: auto;
  margin-bottom: 20px;
}
.single-product.woocommerce div.product p.price {
  color: #e43636;
  font-size: 30px;
  font-weight: 700;
}
.single-product.woocommerce div.product p.price del {
  font-size: 16px;
  color: #000;
  font-weight: 600;
}
.single-product.woocommerce div.product p.price ins {
  text-decoration: none;
}
.single-product.woocommerce div.product form.cart {
  margin-bottom: 10px;
  margin-top: 40px;
  padding-top: 40px;
  border-top: 1px solid #ededed;
}
.single-product.woocommerce div.product form.cart div.quantity {
  margin-right: 40px;
  margin-bottom: 15px;
  padding: 10px 20px;
  background-color: #efefef;
}
.rtl .single-product.woocommerce div.product form.cart div.quantity {
  margin-left: 40px;
  margin-right: inherit;
}
.single-product.woocommerce div.product form.cart .variations {
  margin-top: 20px;
  margin-bottom: 20px;
}
.single-product.woocommerce div.product form.cart .variations .label {
  font-size: 12px;
  text-transform: uppercase;
  display: table-cell;
  vertical-align: middle;
}
.single-product.woocommerce div.product .woocommerce-product-rating {
  margin-bottom: 30px;
  margin-top: 30px;
  border-bottom: 1px solid #ededed;
  border-top: 1px solid #ededed;
  padding: 15px 0;
}
.single-product.woocommerce div.product .woocommerce-product-rating .woocommerce-review-link {
  margin-left: 15px;
  padding-left: 15px;
  border-left: 1px solid #ededed;
}
.rtl .single-product.woocommerce div.product .woocommerce-product-rating .woocommerce-review-link {
  margin-right: 15px;
  margin-left: inherit;
}
.rtl .single-product.woocommerce div.product .woocommerce-product-rating .woocommerce-review-link {
  padding-right: 15px;
  padding-left: inherit;
}
.rtl .single-product.woocommerce div.product .woocommerce-product-rating .woocommerce-review-link {
  border-right: 1px solid #ededed;
  border-left: inherit;
}
.single-product.woocommerce div.product .product_title {
  letter-spacing: -2px;
  display: block !important;
}
.single-product.woocommerce div.product .yith-wcwl-wishlistaddedbrowse .feedback,
.single-product.woocommerce div.product .yith-wcwl-wishlistexistsbrowse .feedback {
  color: #e43636;
}
.single-product.woocommerce div.product .yith-wcwl-wishlistaddedbrowse a,
.single-product.woocommerce div.product .yith-wcwl-wishlistexistsbrowse a {
  display: none !important;
}
.single-product.woocommerce .quantity .qty {
  width: 60px;
  margin-left: 10px;
}
.rtl .single-product.woocommerce .quantity .qty {
  margin-right: 10px;
  margin-left: inherit;
}
.single-product .summary {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 14px;
  /* 9 */
  font-size: 1.4rem;
  /* 9 */
}
.single-product .summary .star-rating {
  font-size: 11.7px;
}
.single-product .summary .share_social {
  background-color: #f5f5f5;
  border: 1px solid #f0f0f0;
  padding: 15px;
  margin-top: 15px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.single-product .summary .share_social span {
  color: #000;
  line-height: 35px;
}
.single-product .summary .clear {
  display: none;
}
.single-product .summary .yith-wcwl-add-to-wishlist {
  position: relative;
}
.single-product .summary .yith-wcwl-add-to-wishlist .ajax-loading {
  position: absolute;
  top: 5px;
  left: 20px;
}
.rtl .single-product .summary .yith-wcwl-add-to-wishlist .ajax-loading {
  right: 20px;
  left: auto;
}
.single-product .summary .yith-wcwl-wishlistaddedbrowse a,
.single-product .summary .yith-wcwl-wishlistaddedbrowse a.add_to_wishlist,
.single-product .summary .yith-wcwl-add-button a,
.single-product .summary .yith-wcwl-add-button a.add_to_wishlist,
.single-product .summary .yith-wcwl-wishlistexistsbrowse a,
.single-product .summary .yith-wcwl-wishlistexistsbrowse a.add_to_wishlist {
  text-transform: uppercase;
  color: #bbb;
  font-size: 12px;
  display: inline;
  letter-spacing: 3px;
  font-weight: 400;
}
.single-product .summary .yith-wcwl-wishlistaddedbrowse a:hover,
.single-product .summary .yith-wcwl-wishlistaddedbrowse a.add_to_wishlist:hover,
.single-product .summary .yith-wcwl-add-button a:hover,
.single-product .summary .yith-wcwl-add-button a.add_to_wishlist:hover,
.single-product .summary .yith-wcwl-wishlistexistsbrowse a:hover,
.single-product .summary .yith-wcwl-wishlistexistsbrowse a.add_to_wishlist:hover {
  color: #e43636;
}
.single-product .summary .yith-wcwl-wishlistexistsbrowse a {
  display: none;
}
.single-product .summary a.compare {
  color: #bbb;
  text-transform: uppercase;
  font-size: 12px;
  padding: 10px 20px;
  margin-top: 3px;
  letter-spacing: 3px;
  font-weight: 400;
  text-decoration: none;
}
.single-product .summary a.compare:hover {
  color: #e43636;
}
.single-product .summary a.compare:before {
  position: absolute;
  top: 10px;
  content: "\f021";
  font-family: "FontAwesome";
  display: block;
  width: 30px;
  height: 30px;
  left: 0;
  font-weight: 400;
}
.rtl .single-product .summary a.compare:before {
  right: 0;
  left: auto;
}
.single-product .summary a.compare.added {
  color: #e43636;
}

.woocommerce div.product p.price, .woocommerce div.product span.price {
  color: #e43636 !important;
  text-decoration: none;
}

.woocommerce div.product .woocommerce-tabs {
  margin-bottom: 20px;
}
.woocommerce div.product .woocommerce-tabs ul.nav-tabs {
  background: transparent;
  padding: 0;
  text-align: center;
  border-color: #ededed;
  margin-bottom: 60px;
}
.woocommerce div.product .woocommerce-tabs ul.nav-tabs li {
  background: transparent;
  border: none;
  display: inline-block;
  float: none;
}
@media (min-width: 480px) {
  .woocommerce div.product .woocommerce-tabs ul.nav-tabs li {
    padding: 25px 0;
    margin: 0 20px;
  }
}
@media (max-width: 480px) {
  .woocommerce div.product .woocommerce-tabs ul.nav-tabs li {
    padding: 0px;
    margin: 0 5px;
  }
}
.woocommerce div.product .woocommerce-tabs ul.nav-tabs li.active {
  background-color: #4d4d4d;
  position: relative;
}
.woocommerce div.product .woocommerce-tabs ul.nav-tabs li.active:before {
  background-color: #e43636;
  width: 100%;
  height: 5px;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
}
.woocommerce div.product .woocommerce-tabs ul.nav-tabs li.active a {
  background-color: transparent;
  color: #000;
}
.woocommerce div.product .woocommerce-tabs ul.nav-tabs li:after, .woocommerce div.product .woocommerce-tabs ul.nav-tabs li:before, .woocommerce div.product .woocommerce-tabs ul.nav-tabs li.active:before, .woocommerce div.product .woocommerce-tabs ul.nav-tabs li.active:after {
  box-shadow: 0px 0px 0 #fff !important;
  border: none !important;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.woocommerce div.product .woocommerce-tabs ul.nav-tabs li a {
  color: #999;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: -1px;
  padding-left: 0;
  padding-right: 0;
  font-weight: 700;
}
.woocommerce div.product .woocommerce-tabs ul.nav-tabs li a:hover {
  color: #000;
}
.woocommerce div.product .woocommerce-tabs .tab-pane .item-description {
  padding-bottom: 60px;
  margin-bottom: 60px;
  border-bottom: 1px solid #ededed;
}
.woocommerce div.product .woocommerce-tabs .tab-pane .item-description:last-child {
  border-bottom: none;
}
.woocommerce div.product .woocommerce-tabs h2 {
  display: none;
}

.woocommerce div.product .woocommerce-tabs ul.nav-tabs li.active {
  background: none;
  color: #000;
}

.woocommerce div.product .woocommerce-tabs ul.nav-tabs::before {
  border-bottom-color: #ededed;
}

.woocommerce-tabs .tab-content {
  overflow: hidden;
}

/**
 * Category And Listing Page
 */
.products-top-wrap {
  border-bottom: 1px solid #ededed;
  margin-bottom: 30px;
  padding: 10px 0 20px;
}
.products-top-wrap .woocommerce-ordering {
  margin: 0;
  float: right;
}
.rtl .products-top-wrap .woocommerce-ordering {
  float: left;
}
.products-top-wrap .display-mode {
  float: left;
  margin-top: 0;
}
.rtl .products-top-wrap .display-mode {
  float: right;
}
.products-top-wrap .display-mode .btn {
  border: 1px solid #ededed;
  border-radius: 0;
  background-color: transparent;
  letter-spacing: 0;
  padding: 0;
  font-size: 14px;
  line-height: 32px;
  width: 32px;
  height: 32px;
  text-align: center;
  color: #b5b5b5;
  margin-right: 15px;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.rtl .products-top-wrap .display-mode .btn {
  margin-left: 15px;
  margin-right: inherit;
}
.products-top-wrap .display-mode .btn.active {
  color: #e43636;
  border-color: #e43636;
}
@media (max-width: 400px) {
  .products-top-wrap .display-mode {
    margin-bottom: 10px;
  }
}

.products-bottom-wrap {
  padding: 20px 0;
}
.products-bottom-wrap .woocommerce-pagination {
  float: left;
}
.rtl .products-bottom-wrap .woocommerce-pagination {
  float: right;
}
.products-bottom-wrap nav.woocommerce-pagination ul, .products-bottom-wrap nav.woocommerce-pagination ul li {
  border: none;
}
.products-bottom-wrap nav.woocommerce-pagination ul span.current, .products-bottom-wrap nav.woocommerce-pagination ul li span.current {
  background: transparent;
  color: #e43636;
  text-decoration: underline;
}
.products-bottom-wrap nav.woocommerce-pagination ul a:hover, .products-bottom-wrap nav.woocommerce-pagination ul li a:hover {
  background: transparent;
  color: #e43636;
}
.products-bottom-wrap .woocommerce-result-count {
  float: right;
  margin: 8px 0;
}
.rtl .products-bottom-wrap .woocommerce-result-count {
  float: left;
}

/*------------------------------------*\
    Quickview
\*------------------------------------*/
#pbr-quickview-modal .modal-dialog {
  overflow: hidden;
}
#pbr-quickview-modal .modal-dialog del .amount {
  color: #666666;
}
@media (max-width: 991px) {
  #pbr-quickview-modal .modal-dialog.modal-lg {
    width: 90%;
    margin: 15px auto;
  }
}
#pbr-quickview-modal .product-info {
  padding: 0;
  margin: 0;
}
#pbr-quickview-modal .product-info .summary {
  margin-right: 20px;
  width: 95%;
}
.rtl #pbr-quickview-modal .product-info .summary {
  margin-left: 20px;
  margin-right: inherit;
}
#pbr-quickview-modal .product-info .product_title {
  padding-top: 0;
  margin-top: 0;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 30px;
  /* 9 */
  font-size: 3rem;
  /* 9 */
}
#pbr-quickview-modal .product-info .product_meta {
  margin: 25px 0 0;
}
#pbr-quickview-modal .product-info .product_meta:before, #pbr-quickview-modal .product-info .product_meta:after {
  content: " ";
  display: table;
}
#pbr-quickview-modal .product-info .product_meta:after {
  clear: both;
}
#pbr-quickview-modal .close:hover .fa, #pbr-quickview-modal .close:hover .icon {
  color: #e43636;
}
#pbr-quickview-modal #quickview-carousel {
  overflow: hidden;
}
#pbr-quickview-modal #quickview-carousel:hover .left {
  left: 15px;
}
.rtl #pbr-quickview-modal #quickview-carousel:hover .left {
  right: 15px;
  left: auto;
}
#pbr-quickview-modal #quickview-carousel:hover .right {
  right: 15px;
}
.rtl #pbr-quickview-modal #quickview-carousel:hover .right {
  left: 15px;
  right: auto;
}
#pbr-quickview-modal .carousel-indicators li {
  border-color: #e43636;
}
#pbr-quickview-modal .carousel-indicators .active {
  background: #e43636;
  border-color: #e43636;
}
#pbr-quickview-modal .carousel-control {
  top: 0px;
  margin: 34% auto;
  font-weight: normal;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 20px;
  /* 9 */
  font-size: 2rem;
  /* 9 */
  -webkit-transition: all 0.45s ease;
  -o-transition: all 0.45s ease;
  transition: all 0.45s ease;
}
#pbr-quickview-modal .carousel-control.left {
  left: -60px;
}
.rtl #pbr-quickview-modal .carousel-control.left {
  right: -60px;
  left: auto;
}
#pbr-quickview-modal .carousel-control.right {
  right: -60px;
}
.rtl #pbr-quickview-modal .carousel-control.right {
  left: -60px;
  right: auto;
}

.pbr-owl-thumbs {
  padding: 20px 0 0;
  list-style: none;
  text-align: center;
}
.pbr-owl-thumbs li {
  display: inline-block;
  padding: 0 2px;
}
.pbr-owl-thumbs li img {
  height: 40px;
  width: auto;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.pbr-owl-thumbs li:hover img {
  opacity: 1;
  filter: alpha(opacity=100);
}
.pbr-owl-thumbs li.active img {
  opacity: 1;
  filter: alpha(opacity=100);
}

.woocommerce form .form-row {
  margin: 22px 0 11px;
  padding: 0;
}

.woocommerce-cart table.cart .product-thumbnail img {
  width: 60px;
}

.rtl.woocommerce #content div.product div.images, .rtl.woocommerce div.product div.images, .rtl.woocommerce-page #content div.product div.images, .rtl.woocommerce-page div.product div.images {
  float: right;
}

.rtl.woocommerce #content div.product div.summary, .rtl.woocommerce div.product div.summary, .rtl.woocommerce-page #content div.product div.summary, .rtl.woocommerce-page div.product div.summary {
  float: left;
}

/**
 * Checkout Page
 */
/**
 * Thanks you page
 */
/************************
 * Form Styles
 ************************/
.woocommerce #respond input#submit, .woocommerce button.button, .woocommerce input.button {
  color: #fff;
  background-color: #e43636;
  border-color: #e12020;
  border-radius: 0px;
  padding: 11px 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.woocommerce #respond input#submit:focus, .woocommerce #respond input#submit.focus, .woocommerce button.button:focus, .woocommerce button.button.focus, .woocommerce input.button:focus, .woocommerce input.button.focus {
  color: #fff;
  background-color: #cc1b1b;
  border-color: #ac1717;
}
.woocommerce #respond input#submit:hover, .woocommerce button.button:hover, .woocommerce input.button:hover {
  color: #fff;
  background-color: #cc1b1b;
  border-color: #ac1717;
}
.woocommerce #respond input#submit:active, .woocommerce #respond input#submit.active, .open > .woocommerce #respond input#submit.dropdown-toggle, .woocommerce button.button:active, .woocommerce button.button.active, .open > .woocommerce button.button.dropdown-toggle, .woocommerce input.button:active, .woocommerce input.button.active, .open > .woocommerce input.button.dropdown-toggle {
  color: #fff;
  background-color: #cc1b1b;
  border-color: #ac1717;
}
.woocommerce #respond input#submit:active:hover, .woocommerce #respond input#submit:active:focus, .woocommerce #respond input#submit:active.focus, .woocommerce #respond input#submit.active:hover, .woocommerce #respond input#submit.active:focus, .woocommerce #respond input#submit.active.focus, .open > .woocommerce #respond input#submit.dropdown-toggle:hover, .open > .woocommerce #respond input#submit.dropdown-toggle:focus, .open > .woocommerce #respond input#submit.dropdown-toggle.focus, .woocommerce button.button:active:hover, .woocommerce button.button:active:focus, .woocommerce button.button:active.focus, .woocommerce button.button.active:hover, .woocommerce button.button.active:focus, .woocommerce button.button.active.focus, .open > .woocommerce button.button.dropdown-toggle:hover, .open > .woocommerce button.button.dropdown-toggle:focus, .open > .woocommerce button.button.dropdown-toggle.focus, .woocommerce input.button:active:hover, .woocommerce input.button:active:focus, .woocommerce input.button:active.focus, .woocommerce input.button.active:hover, .woocommerce input.button.active:focus, .woocommerce input.button.active.focus, .open > .woocommerce input.button.dropdown-toggle:hover, .open > .woocommerce input.button.dropdown-toggle:focus, .open > .woocommerce input.button.dropdown-toggle.focus {
  color: #fff;
  background-color: #ac1717;
  border-color: #ac1717;
}
.woocommerce #respond input#submit:active, .woocommerce #respond input#submit.active, .open > .woocommerce #respond input#submit.dropdown-toggle, .woocommerce button.button:active, .woocommerce button.button.active, .open > .woocommerce button.button.dropdown-toggle, .woocommerce input.button:active, .woocommerce input.button.active, .open > .woocommerce input.button.dropdown-toggle {
  background-image: none;
}
.woocommerce #respond input#submit.disabled, .woocommerce #respond input#submit.disabled:hover, .woocommerce #respond input#submit.disabled:focus, .woocommerce #respond input#submit.disabled.focus, .woocommerce #respond input#submit.disabled:active, .woocommerce #respond input#submit.disabled.active, .woocommerce #respond input#submit[disabled], .woocommerce #respond input#submit[disabled]:hover, .woocommerce #respond input#submit[disabled]:focus, .woocommerce #respond input#submit[disabled].focus, .woocommerce #respond input#submit[disabled]:active, .woocommerce #respond input#submit[disabled].active, fieldset[disabled] .woocommerce #respond input#submit, fieldset[disabled] .woocommerce #respond input#submit:hover, fieldset[disabled] .woocommerce #respond input#submit:focus, fieldset[disabled] .woocommerce #respond input#submit.focus, fieldset[disabled] .woocommerce #respond input#submit:active, fieldset[disabled] .woocommerce #respond input#submit.active, .woocommerce button.button.disabled, .woocommerce button.button.disabled:hover, .woocommerce button.button.disabled:focus, .woocommerce button.button.disabled.focus, .woocommerce button.button.disabled:active, .woocommerce button.button.disabled.active, .woocommerce button.button[disabled], .woocommerce button.button[disabled]:hover, .woocommerce button.button[disabled]:focus, .woocommerce button.button[disabled].focus, .woocommerce button.button[disabled]:active, .woocommerce button.button[disabled].active, fieldset[disabled] .woocommerce button.button, fieldset[disabled] .woocommerce button.button:hover, fieldset[disabled] .woocommerce button.button:focus, fieldset[disabled] .woocommerce button.button.focus, fieldset[disabled] .woocommerce button.button:active, fieldset[disabled] .woocommerce button.button.active, .woocommerce input.button.disabled, .woocommerce input.button.disabled:hover, .woocommerce input.button.disabled:focus, .woocommerce input.button.disabled.focus, .woocommerce input.button.disabled:active, .woocommerce input.button.disabled.active, .woocommerce input.button[disabled], .woocommerce input.button[disabled]:hover, .woocommerce input.button[disabled]:focus, .woocommerce input.button[disabled].focus, .woocommerce input.button[disabled]:active, .woocommerce input.button[disabled].active, fieldset[disabled] .woocommerce input.button, fieldset[disabled] .woocommerce input.button:hover, fieldset[disabled] .woocommerce input.button:focus, fieldset[disabled] .woocommerce input.button.focus, fieldset[disabled] .woocommerce input.button:active, fieldset[disabled] .woocommerce input.button.active {
  background-color: #e43636;
  border-color: #e12020;
}
.woocommerce #respond input#submit .badge, .woocommerce button.button .badge, .woocommerce input.button .badge {
  color: #e43636;
  background-color: #fff;
}

.woocommerce a.button, a.yith-wcwl-add-button {
  background: none;
  padding: 14px 20px;
  font-weight: normal;
  color: #999999;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}
.woocommerce a.button:hover, a.yith-wcwl-add-button:hover {
  background: none;
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
  color: #fff;
  background-color: #e43636;
  border-color: #e12020;
  border-radius: 0px;
  padding: 15px 30px;
  text-transform: uppercase;
}
.woocommerce #respond input#submit.alt:focus, .woocommerce #respond input#submit.alt.focus, .woocommerce a.button.alt:focus, .woocommerce a.button.alt.focus, .woocommerce button.button.alt:focus, .woocommerce button.button.alt.focus, .woocommerce input.button.alt:focus, .woocommerce input.button.alt.focus {
  color: #fff;
  background-color: #cc1b1b;
  border-color: #ac1717;
}
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
  color: #fff;
  background-color: #cc1b1b;
  border-color: #ac1717;
}
.woocommerce #respond input#submit.alt:active, .woocommerce #respond input#submit.alt.active, .open > .woocommerce #respond input#submit.alt.dropdown-toggle, .woocommerce a.button.alt:active, .woocommerce a.button.alt.active, .open > .woocommerce a.button.alt.dropdown-toggle, .woocommerce button.button.alt:active, .woocommerce button.button.alt.active, .open > .woocommerce button.button.alt.dropdown-toggle, .woocommerce input.button.alt:active, .woocommerce input.button.alt.active, .open > .woocommerce input.button.alt.dropdown-toggle {
  color: #fff;
  background-color: #cc1b1b;
  border-color: #ac1717;
}
.woocommerce #respond input#submit.alt:active:hover, .woocommerce #respond input#submit.alt:active:focus, .woocommerce #respond input#submit.alt:active.focus, .woocommerce #respond input#submit.alt.active:hover, .woocommerce #respond input#submit.alt.active:focus, .woocommerce #respond input#submit.alt.active.focus, .open > .woocommerce #respond input#submit.alt.dropdown-toggle:hover, .open > .woocommerce #respond input#submit.alt.dropdown-toggle:focus, .open > .woocommerce #respond input#submit.alt.dropdown-toggle.focus, .woocommerce a.button.alt:active:hover, .woocommerce a.button.alt:active:focus, .woocommerce a.button.alt:active.focus, .woocommerce a.button.alt.active:hover, .woocommerce a.button.alt.active:focus, .woocommerce a.button.alt.active.focus, .open > .woocommerce a.button.alt.dropdown-toggle:hover, .open > .woocommerce a.button.alt.dropdown-toggle:focus, .open > .woocommerce a.button.alt.dropdown-toggle.focus, .woocommerce button.button.alt:active:hover, .woocommerce button.button.alt:active:focus, .woocommerce button.button.alt:active.focus, .woocommerce button.button.alt.active:hover, .woocommerce button.button.alt.active:focus, .woocommerce button.button.alt.active.focus, .open > .woocommerce button.button.alt.dropdown-toggle:hover, .open > .woocommerce button.button.alt.dropdown-toggle:focus, .open > .woocommerce button.button.alt.dropdown-toggle.focus, .woocommerce input.button.alt:active:hover, .woocommerce input.button.alt:active:focus, .woocommerce input.button.alt:active.focus, .woocommerce input.button.alt.active:hover, .woocommerce input.button.alt.active:focus, .woocommerce input.button.alt.active.focus, .open > .woocommerce input.button.alt.dropdown-toggle:hover, .open > .woocommerce input.button.alt.dropdown-toggle:focus, .open > .woocommerce input.button.alt.dropdown-toggle.focus {
  color: #fff;
  background-color: #ac1717;
  border-color: #ac1717;
}
.woocommerce #respond input#submit.alt:active, .woocommerce #respond input#submit.alt.active, .open > .woocommerce #respond input#submit.alt.dropdown-toggle, .woocommerce a.button.alt:active, .woocommerce a.button.alt.active, .open > .woocommerce a.button.alt.dropdown-toggle, .woocommerce button.button.alt:active, .woocommerce button.button.alt.active, .open > .woocommerce button.button.alt.dropdown-toggle, .woocommerce input.button.alt:active, .woocommerce input.button.alt.active, .open > .woocommerce input.button.alt.dropdown-toggle {
  background-image: none;
}
.woocommerce #respond input#submit.alt.disabled, .woocommerce #respond input#submit.alt.disabled:hover, .woocommerce #respond input#submit.alt.disabled:focus, .woocommerce #respond input#submit.alt.disabled.focus, .woocommerce #respond input#submit.alt.disabled:active, .woocommerce #respond input#submit.alt.disabled.active, .woocommerce #respond input#submit.alt[disabled], .woocommerce #respond input#submit.alt[disabled]:hover, .woocommerce #respond input#submit.alt[disabled]:focus, .woocommerce #respond input#submit.alt[disabled].focus, .woocommerce #respond input#submit.alt[disabled]:active, .woocommerce #respond input#submit.alt[disabled].active, fieldset[disabled] .woocommerce #respond input#submit.alt, fieldset[disabled] .woocommerce #respond input#submit.alt:hover, fieldset[disabled] .woocommerce #respond input#submit.alt:focus, fieldset[disabled] .woocommerce #respond input#submit.alt.focus, fieldset[disabled] .woocommerce #respond input#submit.alt:active, fieldset[disabled] .woocommerce #respond input#submit.alt.active, .woocommerce a.button.alt.disabled, .woocommerce a.button.alt.disabled:hover, .woocommerce a.button.alt.disabled:focus, .woocommerce a.button.alt.disabled.focus, .woocommerce a.button.alt.disabled:active, .woocommerce a.button.alt.disabled.active, .woocommerce a.button.alt[disabled], .woocommerce a.button.alt[disabled]:hover, .woocommerce a.button.alt[disabled]:focus, .woocommerce a.button.alt[disabled].focus, .woocommerce a.button.alt[disabled]:active, .woocommerce a.button.alt[disabled].active, fieldset[disabled] .woocommerce a.button.alt, fieldset[disabled] .woocommerce a.button.alt:hover, fieldset[disabled] .woocommerce a.button.alt:focus, fieldset[disabled] .woocommerce a.button.alt.focus, fieldset[disabled] .woocommerce a.button.alt:active, fieldset[disabled] .woocommerce a.button.alt.active, .woocommerce button.button.alt.disabled, .woocommerce button.button.alt.disabled:hover, .woocommerce button.button.alt.disabled:focus, .woocommerce button.button.alt.disabled.focus, .woocommerce button.button.alt.disabled:active, .woocommerce button.button.alt.disabled.active, .woocommerce button.button.alt[disabled], .woocommerce button.button.alt[disabled]:hover, .woocommerce button.button.alt[disabled]:focus, .woocommerce button.button.alt[disabled].focus, .woocommerce button.button.alt[disabled]:active, .woocommerce button.button.alt[disabled].active, fieldset[disabled] .woocommerce button.button.alt, fieldset[disabled] .woocommerce button.button.alt:hover, fieldset[disabled] .woocommerce button.button.alt:focus, fieldset[disabled] .woocommerce button.button.alt.focus, fieldset[disabled] .woocommerce button.button.alt:active, fieldset[disabled] .woocommerce button.button.alt.active, .woocommerce input.button.alt.disabled, .woocommerce input.button.alt.disabled:hover, .woocommerce input.button.alt.disabled:focus, .woocommerce input.button.alt.disabled.focus, .woocommerce input.button.alt.disabled:active, .woocommerce input.button.alt.disabled.active, .woocommerce input.button.alt[disabled], .woocommerce input.button.alt[disabled]:hover, .woocommerce input.button.alt[disabled]:focus, .woocommerce input.button.alt[disabled].focus, .woocommerce input.button.alt[disabled]:active, .woocommerce input.button.alt[disabled].active, fieldset[disabled] .woocommerce input.button.alt, fieldset[disabled] .woocommerce input.button.alt:hover, fieldset[disabled] .woocommerce input.button.alt:focus, fieldset[disabled] .woocommerce input.button.alt.focus, fieldset[disabled] .woocommerce input.button.alt:active, fieldset[disabled] .woocommerce input.button.alt.active {
  background-color: #e43636;
  border-color: #e12020;
}
.woocommerce #respond input#submit.alt .badge, .woocommerce a.button.alt .badge, .woocommerce button.button.alt .badge, .woocommerce input.button.alt .badge {
  color: #e43636;
  background-color: #fff;
}

.woocommerce a.add_to_cart_button .icon-cart, .woocommerce a.product_type_external .icon-cart, #main-container .woocommerce button.button.single_add_to_cart_button .icon-cart {
  width: 16px;
  height: 16px;
  line-height: 13px;
  text-align: center;
  color: #e43636;
  font-size: 8px;
  border: 2px solid #e43636;
  border-radius: 50%;
}
.woocommerce a.add_to_cart_button:hover, .woocommerce a.product_type_external:hover, #main-container .woocommerce button.button.single_add_to_cart_button:hover {
  color: #fff;
}

/**
 * Input Form Styles
 */
.woocommerce form .form-row .input-text, .woocommerce-page form .form-row .input-text, .woocommerce form .form-row textarea, .woocommerce select, .woocommerce-cart table.cart input.input-text {
  padding: 5px 10px;
  font-size: 14px;
  line-height: 1.62857 !important;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.woocommerce form .form-row .input-text:focus, .woocommerce-page form .form-row .input-text:focus, .woocommerce form .form-row textarea:focus, .woocommerce select:focus, .woocommerce-cart table.cart input.input-text:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.woocommerce form .form-row .input-text::-moz-placeholder, .woocommerce-page form .form-row .input-text::-moz-placeholder, .woocommerce form .form-row textarea::-moz-placeholder, .woocommerce select::-moz-placeholder, .woocommerce-cart table.cart input.input-text::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.woocommerce form .form-row .input-text:-ms-input-placeholder, .woocommerce-page form .form-row .input-text:-ms-input-placeholder, .woocommerce form .form-row textarea:-ms-input-placeholder, .woocommerce select:-ms-input-placeholder, .woocommerce-cart table.cart input.input-text:-ms-input-placeholder {
  color: #999;
}
.woocommerce form .form-row .input-text::-webkit-input-placeholder, .woocommerce-page form .form-row .input-text::-webkit-input-placeholder, .woocommerce form .form-row textarea::-webkit-input-placeholder, .woocommerce select::-webkit-input-placeholder, .woocommerce-cart table.cart input.input-text::-webkit-input-placeholder {
  color: #999;
}
.woocommerce form .form-row .input-text[disabled], .woocommerce form .form-row .input-text[readonly], fieldset[disabled] .woocommerce form .form-row .input-text, .woocommerce-page form .form-row .input-text[disabled], .woocommerce-page form .form-row .input-text[readonly], fieldset[disabled] .woocommerce-page form .form-row .input-text, .woocommerce form .form-row textarea[disabled], .woocommerce form .form-row textarea[readonly], fieldset[disabled] .woocommerce form .form-row textarea, .woocommerce select[disabled], .woocommerce select[readonly], fieldset[disabled] .woocommerce select, .woocommerce-cart table.cart input.input-text[disabled], .woocommerce-cart table.cart input.input-text[readonly], fieldset[disabled] .woocommerce-cart table.cart input.input-text {
  background-color: #eeeeee;
  opacity: 1;
}
.woocommerce form .form-row .input-text[disabled], fieldset[disabled] .woocommerce form .form-row .input-text, .woocommerce-page form .form-row .input-text[disabled], fieldset[disabled] .woocommerce-page form .form-row .input-text, .woocommerce form .form-row textarea[disabled], fieldset[disabled] .woocommerce form .form-row textarea, .woocommerce select[disabled], fieldset[disabled] .woocommerce select, .woocommerce-cart table.cart input.input-text[disabled], fieldset[disabled] .woocommerce-cart table.cart input.input-text {
  cursor: not-allowed;
}

.woocommerce #content table.cart td.actions .button, .woocommerce #content table.cart td.actions .input-text,
.woocommerce #content table.cart td.actions input, .woocommerce table.cart td.actions .button,
.woocommerce table.cart td.actions .input-text, .woocommerce table.cart td.actions input,
.woocommerce-page #content table.cart td.actions .button, .woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions input, .woocommerce-page table.cart td.actions .button,
.woocommerce-page table.cart td.actions .input-text, .woocommerce-page table.cart td.actions input {
  width: auto !important;
}

.woocommerce form .form-row textarea {
  min-height: 100px;
}

.woocommerce-cart table.cart input {
  line-height: 1.62857;
}
@media (min-width: 768px) and (max-width: 991px) {
  .woocommerce-cart table.cart input {
    width: auto !important;
  }
}
@media (max-width: 480px) {
  .woocommerce-cart table.cart input {
    width: auto !important;
  }
}

.woocommerce #content table.cart td.actions .input-text,
.woocommerce table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text {
  width: auto !important;
  padding: 9px;
}

.woocommerce form .form-row.woocommerce-validated .select2-container,
.woocommerce form .form-row.woocommerce-validated input.input-text,
.woocommerce form .form-row.woocommerce-validated select {
  border-color: #e43636;
}

.woocommerce .quantity .qty {
  margin: 0 15px !important;
}

@media screen and (max-width: 480px) {
  .woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last {
    float: none !important;
    width: auto !important;
  }
}

.select2-container .select2-choice {
  padding: 4px !important;
  border-radius: 0px !important;
}
