/*!
 * Bootstrap v3.3.5 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
 body{
  font-weight: $font-weight-base;
   line-height: 1.8;
 }
 img{
    max-width: 100%;
    height:auto;
 } 
 .sticky{
    background: #FFFFFF;
    border:1px solid $border-color;
    padding:10px;
 }
.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 0;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #ffffff none repeat scroll 0 0;
    border: medium none;
    max-width: 474px;
    margin: 0;
    text-align: center;
}
.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}

.nopadding{
   padding:0!important;
   margin:0!important;
}

.video-responsive {
    height: 0;
    padding-top: 0;
    padding-bottom: 56.25%;
    margin-bottom : 10px;
    position: relative;
    overflow: hidden;
  embed,iframe,object,video{
    top: 0;
    left: 0;
    position: absolute;
        @include square(percentage(1));
  }
}
 
.audio-responsive{
  iframe{
    @include size(percentage(1), 126px);
  }
}


.contactinfos{
    li{
    line-height: 33px;
        i{
            width: 25px;
            margin: 0 3px;
        }
    }
}

@media (max-width: $screen-xs-max){
    .zoomContainer{
        display: none;
    }
    .woocommerce-main-image {
      position: relative;
    }
    .woocommerce-main-image:before {
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      content:"";
    }
}