/////////// TEMPLATES LAYOUT ///////////

$app-prefix                      : pbr !default;
$vc-prefix                       : pbr_ !default;

body{
    overflow-x:hidden;
}
#main {
    .container{ 
        position:relative; 
        .container {
            width: 100%;
        }
    }
}
#site-header{
    text-align: center;
}

/**
 * Page Style
 */
#page{
    max-width: 1400px; 
    position: relative;
    margin-left:auto;
    margin-right: auto;
    background: #fff;  
    &.page-static-left{
        @include transition(all 0.25s ease-out);
        &.active{
            @include transition(all 0.25s ease-out);
            @include rtl-margin-left(250px);
            .sidebar-static-left{
                @include transition(all 0.25s ease-out);
                @include rtl-left( 0 );
            }
        }
    }
    &.active .button-action:before{
        content: "\f060"
    }
}
.site-main {
    overflow: hidden;
}
/**
 * Topbar layout styles
 */
##{$app-prefix}-topbar{
	  @include container-layout-variant( $topbar-color , $topbar-bg , $topbar-link-color );
        padding        : $topbar-padding;
        text-transform : $topbar-text-transform;
        font-size      : $topbar-font-size ;
   	.list-inline{
   		  margin: 0; padding:0;
   	}
    a:hover{
        text-decoration: none;
    }    
}
.topbar-mobile{
    width: 100%;
    background: #3C424C;
    display: table; 
    .btn-offcanvas{
        background-color:transparent;
    }
    .fa{
        color: $white;
        font-size: 20px;
    }
}
.active-mobile{
    line-height:48px;
    @include size(48px,48px);
    position: relative;
    cursor: pointer;
    @include transition(all 0.3s ease 0s);
    text-align: center;
    &:hover{
        background-color: lighten($topbar-bg, 5%) !important;
        cursor: pointer;
        .active-content{
            display: block;
            opacity: 1;
            visibility: visible;
            @include rtl-left(0);
            @include rtl-right(auto);
        }
    }
    .active-content{
        position: absolute;
        top: 100%;
        z-index: 99999;
        color: $white;
        padding: $theme-margin;
        background-color: lighten($topbar-bg, 5%);
        @include rtl-left(-10000px);
        @include opacity(0);
        position: absolute;
        min-width: 270px;
        visibility: hidden;
        @include rtl-right(0);
        @include rtl-text-align-left();
        @include transition(opacity 0.3s ease 0s);
    }
    ul{
        padding: 0;
        li{
            display: block;
            margin: 0;
            padding: 5px 0;
            line-height: normal;
        }
    }
    .search-category-container{
        display: none;
    }
    .search-category-input{
        @include font-size(font-size,15px);
        @include rtl-border-radius-topleft(4px);
        @include rtl-border-radius-bottomleft(4px);
        height: 42px;
    }
    .btn-search{
        @include rtl-border-radius-topright(4px);
        @include rtl-border-radius-bottomright(4px);
        .fa{
            color: $white;
            border: none;
            font-size: 16px;
            background-color: transparent;
        }
        &:hover{
            .fa{
                color: $theme-color;
            }
        }
    }
    &.setting-popup{
        a{
            color: $white;
            &:hover{
                color: $theme-color;
            }
        }
    }
}
##{$app-prefix}-logo{
    &.logo-theme{

    }
    &.logo-image{

    }
}
/**
 * Header Layout styles
 */
##{$app-prefix}-masthead{
    position: relative;
    padding: $header-main-padding;
    .header-main{
        position: relative
    }
    .logo-wrapper{
        height: 45px;
        .logo-theme a{
            background: url('#{$image-theme-skin}logo.png') no-repeat center top $nocolor;
            @include size(124px,45px);
            display: inline-block;
            img{
                display: none;
            }
        }
    }
    .pbr-header-right {
            @include rtl-margin-left(40px);
        }    
    /// header styles version 1
    &.#{$app-prefix}-header-default{
        background:#2d2d2d;
        
    }

    &.#{$app-prefix}-header-v2{ 
           
    }
    @media (min-width: $screen-sm){
        &.header-absolute{
            position: absolute;
            width: 100%;
            z-index: 999;
        }
    }
     @media (max-width: $screen-sm){
        &.header-absolute{
            background: #333;
        }
    }

    .has-sticky {
         @include transition(all 1s ease 0s);
        &.keeptop{
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 9999;
            @include rtl-left(0);
            background-color: #282828;
            padding: 25px 0;
             @include transition(all 1s ease 0s);
        }
    }
}




/**
 * Search block layout and styles
 */

.search-box-wrapper{
    i{
        font-size: 18px;
        line-height: 26px;
    }
}

.search-box{
    .input-group-addon{
        background:#FFFFFF;
        border:none;
        input{ background: transparent; border-color:$theme-color ; color:#FFF; }
        border-radius:0px $border-radius-base $border-radius-base 0px;
        min-width: 200px;
        font-weight: normal;
        position: relative;

        padding:2px 10px 2px 0 !important;
        &:after{
            content: " ";
            width: 1px;
            height: 100%;
            position:absolute;
            top: 0;
            right: 0;
            background:#CCC;
        }
    }
    input, select{ border:none ; border-radius:$border-radius-base;background:$white;  }
    select{ border-radius:0 0 0!important;  border:none !important; background:transparent!important;  box-shadow:0 0 0!important; font-weight:normal; margin-right:2px;  }
    &.search-box-simple{
        .input-group{
            border:solid 2px $theme-color; 
            border-radius:$border-radius-base;;
            background: #FFFFFF;
        }
        .input-group-addon{ background:transparent; }  
        input{ color:#000000 } 
    }
}

.toggle-overlay-container{ 
    /* height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all 0.5s ease 0s;
    visibility: hidden;
    width: 100%; */
    .search-box {
        /* width: calc(100% - 86px);
        float: left; */
        .input-group{
            /* width: 90%;
            margin:30px auto; */
            border:solid 2px $theme-color;
            .form-control{ height: 40px }
        }
    }
    .dropdown-toggle-button{
        width: 86px;
        height: 100%;
        text-align: center;
        float:right;
        background:#F2f2f2;
        cursor: hand;cursor:pointer;
    }
    z-index: 10;
    background:#FFFFFF;
    &.active{
       opacity: 1;
       visibility:visible;
    }
}

/**
 * Mass Bottom Header Styles
 */
.#{$app-prefix}-massbottom-head {   
    .inner{ 
        background:$massbottom-head-bg; 
        padding: $massbottom-head-padding;   
        border-top: $massbottom-head-border-color solid 1px;
        color: $massbottom-head-color;
    } 
}
/**
 * Main menu styles
 */
##{$app-prefix}-mainmenu{
    background: transparent;
    position: relative;
    .inner{
 
    }
}

/**
 * Breadscrumb content style
 */
.#{$app-prefix}-breadscrumb{

    background: $breadcrumb-bg;
    padding: $breadcrumb-padding-vertical $breadcrumb-padding-horizontal;
    margin-bottom: 30px;
    .breadcrumb{
        @media (min-width: $screen-sm-min){
            padding: 40px 0 0;
        }
        @media (max-width: $screen-sm-min){
            padding: 0;
        }
        background:transparent;
        margin:0 ;
        position: relative;
        li{
            &:last-child{
                display: block;
                &:before{
                    display: none;
                }
            }
            &.active{
                top: 0;
                @include rtl-left(0);
                 position: absolute;
                h2{
                    margin: 0;
                }
                @media (max-width: $screen-sm-min){
                    display: none;

                }
            }
            span{
                padding: 0 7px;
            }
        }
        a{
            color: #666;
            &:hover{
                color: $theme-color;
            }
        }
    }


}

/**
 * Footer layout styles
 */
#main{
    h1{
        display: none;
    }
    article.post h1.entry-title{
        display:  block;
        font-size: 30px;
    }
}

.#{$app-prefix}-footer{
    background-color: #1d1d1d;
    color:$footer-color;
    .footer-top{
        @include container-layout-variant($footer-top-color, transparent, $footer-link-color); 
        background-color: $footer-top-bg;
        padding: 50px 0 30px;
        text-transform: uppercase;
        letter-spacing: 1px;
        h2, h3, h4, h5, h6 {
            color: #fff;
            margin: 8px 0;
        }
        p{
            margin-bottom: 0;
        }
        i {
            font-size:  24px;
            @include size(60px, 60px);
            border: 2px solid #fff;
            @include border-radius(50%);
            line-height: 54px;
             text-align: center;
             @include rtl-margin-right( 20px);
        }
    }
    .footer-center{ }
    .footer-bottom{
        @include container-layout-variant($footer-bottom-color, transparent, $footer-link-color); }
    
}
.home {
    .#{$app-prefix}-footer{
        margin-top: 0;
    }
}
/*------------------------------------*\
    Copyright
\*------------------------------------*/
.#{$app-prefix}-copyright{
    color: $copyright-color;
    font-size: $copyright-font-size;
    font-weight: $copyright-font-weight;
    width: 100%;
    margin-top: 40px;
    @include box-size($copyright-bg, $copyright-padding-top, $copyright-padding-bottom);
    .#{$block-selector} {
        .#{$block-heading-selector}{
            color: $footer-heading-color;
            text-transform: $footer-heading-transform;
            margin: $footer-heading-margin;
            @include font-size(font-size,$footer-heading-font-size);
        }
    }
    .input-group{
        border: 0px;
        .fa{
            color: $gray-light;
        }
    }
    a{
        color: $white;
        &:hover,
        &:focus,
        &:active{
            color: $theme-color;
        }
        color: $copyright-link-color;
    }
    address{ 
        margin: 0;
    }
    .payment{
        padding-top: 30px;
    }
    .container{
        padding:30px 0;
        @media (max-width: $screen-xs){
            text-align: center;
        }
    }
}