.#{$block-selector} {
    ul,ol{
        list-style: none;
        padding:0;  
    } 
}

.pbr-newsletter{
    border-top:1px solid $border-color;
    margin-top: 30px;
}


/* List Style Widgets*/
.widget_archive a,
.widget_recent_entries a,
.widget_recent_comments a,
.widget_layered_nav a,
.widget_product_categories a
{ font-weight:400;}

.widget_archive a:before,
.widget_recent_entries a:before,
.widget_recent_comments a:first-child:before,
.widget_layered_nav a:before,
.widget_product_categories a:before,
.widget_categories a:before { margin-right: 10px; font-family: "FontAwesome"; color: $theme-color; display: inline-block;font-size:11px; line-height:22px}
.widget_archive a:before { content: "\f016" }
.widget_recent_entries a:before { content: "\f0f6" }
.widget_recent_comments a:first-child:before { content: "\f0e5" }
.widget_layered_nav a:before { content: "\f0da" }
.widget_categories a:before { content: "\f114" }


.widget_archive ul,
.widget_categories ul,
.widget_links ul,
.widget_meta ul,
.widget_pages ul,
.widget_recent_comments ul,
.widget_recent_entries ul,
   .widget_rss ul,
.widget_nav_menu ul{
    li {
        border-bottom: 1px solid $border-color;
        padding: 10px 0;
    }
}

.widget_archive li:first-child,
.widget_categories li:first-child,
.widget_links li:first-child,
.widget_meta li:first-child,
.widget_pages li:first-child,
.widget_recent_comments li:first-child,
.widget_recent_entries li:first-child {
    
}

.widget_categories li ul,
.widget_pages li ul {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 9px;
}

.widget_categories li li:last-child,
.widget_pages li li:last-child {
    padding-bottom: 0;
}
.widget {
    select{
        border: 1px solid $border-color;
        padding: 10px 15px;
    }
}
#wp-calendar #today {
    color: $theme-color;
    font-weight: 700;
}
.widget_recent_comments{
    .comment-author-link{
        color: $theme-color;
    }
}
/* Recent Posts Widget */

.widget_recent_entries .post-date {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 5px;
    color: $theme-color;
}

.widget_pbr_recent_post {
    .post-widget{
        margin-top: 20px;
    }
    .item-post.media {
        border-top: 1px solid $border-color;
        padding-top: 20px;
        &:first-child {
            padding-top: 0;
            border-top: none;
        }
        a.image {
            width: 80px;
            @include rtl-padding-right(15px);   
        }
        .media-body {
            .entry-title {
                margin: -3px 0 0;
            }
            > p {
                display: none;
            }
        }
    }
    .post-stick-layout {
        .item-post.media.item-big {
            border-top: none;
            a.image {
                @include rtl-padding-right(0);
                width: 100%;
                margin-bottom: 10px;
            }
            .entry-title {
                margin: 0 0 10px;
                font-weight: 700;
                font-size: 14px;
                line-height: 20px;
            }
        }
        .item-post.media {
            padding-top: 15px;
            .media-body {
                .entry-title {
                    margin: 0 0 5px;
                }
            }
            .post-date {
                font-size: 12px;
                text-transform: uppercase;
                font-weight: 700;
                color: $theme-color;
            }
        }
    }
}

/* Search Widget */
.widget_search{
    .btn-search{
        input{
            border:none;
        }
    }
}
/* RSS Widget */

.rsswidget img {
    margin-top: -4px;
}

.rssSummary {
    margin: 9px 0;
}

.rss-date {
    display: block;
}

.widget_rss li {
    margin-bottom: 18px;
}

.widget_rss li:last-child {
    margin-bottom: 0;
}

/* Text Widget */

.widget_text > div > :last-child {
    margin-bottom: 0;
}

/* Calendar Widget*/
.widget_calendar {
    table {
        line-height: 2;
        margin: 0;
        width: 100%;
    }
    caption {
        color: $black;
        font-weight: 700;
        line-height: 1.7142857142;
        margin-bottom: 10px;
        text-align: left;
        text-transform: uppercase;
    }
    thead th {
        background: #f5f5f5;
    }
    tbody td, thead th {
        text-align: center;
        padding:2px;
    }
    tbody a {
        background-color: #24890d;
        color: #fff;
        display: block;
        &:hover {
          background-color: #41a62a;
          color: #fff;
        }
    }
    #prev {
        padding-left: 5px;
    }
    #next {
        padding-right: 5px;
        text-align: right;
    }
}

/****/

.popupnewsletter{
    .btn-flying-right{
        position:fixed;
        top: 40%;
        right:0;
        z-index: 99;
    }
    .modal {
      text-align: center;
    }

    @media screen and (min-width: 768px) { 
      .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
      }
    }

    .modal-dialog {
      display: inline-block;
      text-align: left;
      vertical-align: middle;
    }
}
/**social**/
.widget_pbr_socials_widget{
   
    a{
       
        display: block; 
        &:hover{
            i{
                color: $theme-color;
                transition: color 0.3s ease 0s;
            }
        }
    }
    i{
        color: $white;
    }
    .bo-sicolor{
        a{
            display: inline-block;
            @include rtl-margin-right(10px);
           
         i {
                @include size(44px,44px);
                line-height: 40px;
                text-align: center;
                font-size: 16px;
                @include border-radius(25px);
                border: 2px solid rgba(255,255,255, 0.2);
                background-color:transparent; 
                display: inline-block;
                &:hover{
                    border-color: $theme-color;
                    background-color:transparent; 
                }
            }
            span{
                display: none;
            }
        }
    }
}
.pbr-featurebox{
    .row{
        padding:50px;
        border:1px solid $border-color;
        @media (min-width: $screen-sm) and (max-width: $screen-sm-max){
            padding:20px;
        }
    }
}
.widget-brand-logo  {
    .owl-pagination{
        margin-top: 30px;
    }
    margin: 15px 0;
    .item-brand {
      position: relative;
      display: block;
      img {
        filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
          filter: grayscale(100%);
          -webkit-filter: grayscale(100%); 
          -moz-filter: grayscale(100%);
          -ms-filter: grayscale(100%); 
          -o-filter: grayscale(100%);
          filter: gray;
          @include opacity(1);
          @include transition(all 0.2s ease-in-out 0s);
      }
    }
  &:hover {
    .item-brand {
      img {
        @include opacity(0.5);
      }
      &:hover {
        img {
           filter: grayscale(0%);
           -webkit-filter: grayscale(0%); 
           -moz-filter: grayscale(0%);
           -ms-filter: grayscale(0%); 
           -o-filter: grayscale(0%);
           filter: none; 
           @include opacity(1);

        }
      }
    }
  }
}
// Widget On Sale
.woo-onsale {
    .onsale {
        display:  none;
    }
    .product-sale-label {
        position: absolute;
        @include size(36px, 36px);
        background-color: #fb4949;
        color: #fff;
        top: 10px;
        @include rtl-right(10px);
        @include border-radius(50%);
        line-height: 36px;
        font-size: 12px;
        font-weight: 400;
    }
}
.pbr-pagination{
    margin-top: 30px;
}

//Gallery image
.wpb_image_grid {
    .isotope-item {
        @media screen and (min-width: $screen-md-min) {
            width: 25%;
        }
        @media screen and (max-width: $screen-sm) {
            width: 50%;
        }
       @include rtl-float-left(); 
       margin: 0!important;
        background-color: #000;
       img{
        width: 100%;
        @include opacity(0.6);
       }
       &:hover{
            img{
                @include opacity(1);
            }
       }
    }
}
// pbr-designs
.pbr-designs {
    .widget-content{
        background-color: #1d1d1d;
        .owl-item .item {
            padding: 0;
            .content {
                padding-top: 100px;
                padding-bottom: 100px;
                .design_title{
                    color: #fff;
                    margin-bottom: 70px;
                } 
                .design_description{
                    color: #999;
                    font-size: 20px;
                    line-height: 32px;
                    margin-bottom: 70px;
                }
                .button-video{
                    .fa{
                        font-size: 16px;
                        @include rtl-padding-right(5px);
                    }
                }
            }
        }
    }   
}

/*------------------------------------*\
    Tags Widget
\*------------------------------------*/
.tagcloud{
    a{
        position: relative;
        z-index: 1;
        color: $widget-tag-color;
        border: $widget-tag-border;
        margin: $widget-tag-margin;
        padding: $widget-tag-padding;
        background: $widget-tag-bg;
        text-transform: $widget-tag-transform;
        font-size: $widget-tag-font-size;
        @include inline-block();
        @include border-radius($widget-tag-border-radius);
        &:after{
            content: "";
            position: absolute;
            top: 0;
            width: 0;
            z-index: -1;
            height: 100%;
            @include rtl-left(0);
            background-color: $widget-tag-bg-hover;
            @include transition(all .2s linear);
        }
        &:hover{
            color: $widget-tag-color-hover;
            border-color:$widget-tag-border-color-hover;
            &:after{
                width: 100%;
            }
        }
    }
}

// widget rotateimages
.pbr-rotateimages {

    .rotate {
        background: url('#{$image-theme-skin}bg-rotate-.png') no-repeat center bottom $nocolor;
        background-size: 100% auto;
        @media screen and (min-width: $screen-lg-min) {
            padding: 0 15% 100px;
        }
        @media screen and (max-width: $screen-lg-min) {
            padding: 0 8% 100px;
        }
        @media screen and (max-width: $screen-md-min) {
            padding: 0 8% 70px;
        }
         @media screen and (max-width: $screen-sm) {
            padding: 0 6% 60px;
        }

         @media screen and (max-width: 320px) {
            padding: 0 0 30px;
        }
    }
    .spritespin-instance {
        cursor: move;
    }
    .widget-content {
        text-align: center;
    }
    @media screen and (max-width: $screen-md-min) {
        .spritespin-canvas, .spritespin-instance {
            height: 568px !important;
            width: 680px !important;
        }
    }
     @media screen and (max-width: 700px) {
        .spritespin-canvas, .spritespin-instance {
            height: 418px !important;
            width: 500px !important;
        }
    }

    @media screen and (max-width: $screen-xs) {
        .spritespin-canvas, .spritespin-instance {
            height: 317px !important;
            width: 380px !important;
        }
    }
     @media screen and (max-width: $screen-xs) {
        .spritespin-canvas, .spritespin-instance {
            height: 267px !important;
            width: 320px !important;
        }
    }
}
